<div class="report-table-container" *ngIf="reportTableData">
  <div class="table-row" *ngFor="let rt of reportTableData">
    <div class="row" [ngClass]="rt.highlightRow ? 'table-row-highlighted' : ''" *ngIf="!rt.isLine">
      <div class="col-9 table-column">
        <span [style.font-weight]="rt.keyFontWeight === undefined ? '' : rt.keyFontWeight" [style.font-style]="rt.keyFontStyle === undefined ? '' : rt.keyFontStyle">
          {{ rt.keyRef }}
        </span>
      </div>
      <div class="col-3 table-column">
        <span [style.font-weight]="rt.valueFontWeight === undefined ? '' : rt.valueFontWeight" [style.font-style]="rt.valueFontStyle === undefined ? '' : rt.valueFontStyle">
          {{ rt.valueRef }}
        </span>
      </div>
    </div>
    <div class="table-row-divider" *ngIf="rt.isLine"></div>
  </div>
</div>