@import '../../../styles/colors.styl'

.report-table-container
    color $neutral3
    .table-row:first-child
        border-top 1px solid darken($neutral1, 5%)
    .table-row
        border-bottom 1px solid darken($neutral1, 5%)
        border-left 1px solid darken($neutral1, 5%)
        border-right 1px solid darken($neutral1, 5%)
        .row
            margin 0
        &-highlighted 
            background-color lighten($neutral1, 5%)
        &-divider
            border-bottom 4px solid $btsred
    .table-column
        padding-top 7px
        padding-bottom 7px
    .table-column:last-child
        border-left 1px solid darken($neutral1, 5%)
