<div class='stepper'>
  <div class='fa fa-minus subtract stepper-button' role='button'></div>  
  <input class='field' #inputValue type='text' [value]="value" [min]='min' [max]='max' OnlyNumber="true" [step]="step" readonly (change)="onValueChange(inputValue.value)" (blur)="onBlur(inputValue.value)" (focus)="onFocus()" />
  <span class="field-value" (click)="setFocusOnInput()" *ngIf="!hasDifferentOutput">{{value | numFormat:format:scaler}}</span>
  <span class="field-value" *ngIf="hasDifferentOutput">{{outputRangeValue | numFormat:outputFormat:outputScaler}}</span>
  <div class='fa fa-plus add stepper-button' role='button'></div>
</div>