:host
    display inline-block
    width 100%
    color #111
    overflow hidden
    position relative
    @media screen and (max-width 1024px)
        overflow visible
    .stepper
        height 100%
        width  100%
        display flex
        align-items center
        &.disabled
            pointer-events none
    input
        
        height 100%
        text-align center
        color #555
        border none
        display none !important
    
.stepper
    font-size 0.975rem
    &-button
        cursor pointer
        border-radius 50%
        display flex
        justify-content center
        align-items center
        width 1.5vw
        height 1.5vw
        &.disabled
            background-color #ccc
            pointer-events none
        &-container
            display flex
            flex-direction column
    .field-value
        flex-grow 1
        z-index 1
        display flex
        justify-content center
        align-items center
        height 100%
        padding 10px 0