.extOptions {
  display: flex;
  margin: 10px 50px;
}
.extOptions fieldset {
  min-width: 350px;
  background: #efefef;
}
.extOptions fieldset p {
  font-size: 1.2em;
  font-weight: bold;
  min-width: 250px;
  background: #ddd;
  padding: 0 10px;
}
.extOptions fieldset span {
  cursor: pointer;
}
.extOptions fieldset input {
  margin: 0 15px 15px 15px;
}
.confirmPopup {
  background-color: rgba(0,0,0,0.5);
  display: block;
}
