.extOptions
	display flex
	margin 10px 50px
	
	fieldset
		min-width 350px
		background #efefef
	
		p
			font-size 1.2em
			font-weight bold
			min-width 250px
			background #dddddd
			padding 0 10px
			
		span
			cursor pointer
			
		input
			margin 0 15px 15px 15px

.confirmPopup
	background-color rgba(0,0,0,0.5)
	display block
