<p class="float-right">
    <button type="button" class="btn btn-secondary btn-sm"
    *ngIf="isoffline"
    (click)="showUpload = !showUpload">Upload External Model</button>
</p>
<h2>Load External Model Data</h2>
<hr>
    <fieldset>
        <legend>Data Reading:</legend>
        <table width="98%" align="center" border=1 cellpadding="6">
          <tr>
            <th width="150">View Mode:</th>
            <td>{{isoffline ? 'Offline' : 'Online'}}</td>
          </tr>
            <tr>
                <th width="150">Model Name:</th>
                <td>{{model?.modelName}}</td>
            </tr>
            <tr>
                <th>Workbook Name:</th>
                <td>{{model?.model.name}}</td>
            </tr>
          <tr>
            <th>Status:</th>
            <td>{{model?.log}}</td>
          </tr>
        </table>
    </fieldset>

<div class="fileInputEl hidden-xs-up extOptions" *ngIf="showUpload">
    <fieldset>
        <p>Import External Model File: <span class="float-right" (click)="showUpload = !showUpload">X</span></p>
        <input type="file" class="fileInput" accept=".js" (change)="onFileSelect($event)" />
    </fieldset>
</div>

<!-- <div bsModal #uploadModalPopup="bs-modal" class="modal password-modal fadeInUp delay-5" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}"> -->
<div class="modal confirmPopup" role="dialog" *ngIf="showConfirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body eventBody">
        <div class="password-header">Upload New Model</div>
        <div class="input-container">
            <p>You are about to overwrite the current model for this experience. You cannot undo this action. You can upload a new model after this action, if required.</p>
            <p>Are you sure, you want to proceed?</p>
        </div>
        <div class="button-container">
            <button type="button" class="submit btn btn-danger" aria-label="Close" 
                (click)="onModelUpload()">Yes
                <!-- <calc-outlet aria-hidden="true" ref="gloOk"></calc-outlet> -->
            </button>
            <button type="button" class="submit btn btn-primary" aria-label="Close" 
                (click)="onCancelUpload()">No
                <!-- <calc-outlet aria-hidden="true" ref="gloCancel"></calc-outlet> -->
            </button>
        </div>
      </div>
    </div>
  </div>
</div>