<div class="page-wrapper col-12 pad-0 row marg-0 desktop-component-view">
    <div class="page-header pad-0 col-1">
        <div class="page-header-content">
            <div class="page-header-text">
                <div class="scenario-number">
                    <ism-text-output key="Scenario1"></ism-text-output>
                </div>
                <div class="scenario-label">
                    <ism-text-output key="Tab1Text"></ism-text-output>
                </div>
            </div>
            <div class="page-header-icon">
                <img src="./../../assets/icons/feature.svg">
            </div>
        </div>
    </div>
    <div class="page-content pad-0 col-11 row marg-0">
        <div class="decisions-wrapper col-12 pad-0">
            <div class="decision-container col-12 pad-0">
                <div class="data-container col-12 pad-0">
                    <div class="header-row col-12 pad-0 row marg-0">
                        <div class="data-label header-label col-4"></div>
                        <div class="data-label header-label col-2">
                            <ism-calc-output ref="tlOutput_E4_tlScen1"></ism-calc-output>
                        </div>
                        <div class="data-label header-label col-2">
                            <ism-calc-output ref="tlOutput_G4_tlScen1"></ism-calc-output>
                        </div>
                        <div class="data-label header-label col-2">
                            <ism-calc-output ref="tlOutput_I4_tlScen1"></ism-calc-output>
                        </div>
                        <div class="data-label header-label col-2">
                            <ism-calc-output ref="tlOutput_K4_tlScen1"></ism-calc-output>
                        </div>
                    </div>
                    <div class="data-content col-12">
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C7_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_E7_tlScen1" ref="tlInputARPUScen1" step="1"
                                    format="$0,0.00" min="-200" outputMin="-200" max="200" outputMax="200"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_G7_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_I7_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_K7_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C8_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_E8_tlScen1" ref="tlInputCTSpUScen1" step="1"
                                    format="$0,0.00" min="-50" outputMin="-50" max="50" outputMax="50"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_G8_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_I8_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_K8_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C9_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-2"></div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_G9_tlScen1" ref="tlInputChurnScen1" step="1"
                                    scaler="100" format="0%" min="-60" outputMin="-60" max="40" outputMax="40"
                                    outputFormat="0%">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_I9_tlScen1" format="0%"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_K9_tlScen1" format="0%"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C10_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_E10_tlScen1" ref="tlInputCACpUScen1"
                                    step="1" format="$0,0.00" min="-20" outputMin="-20" max="20" outputMax="20"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2"></div>
                            <div class="data-value col-2"></div>
                            <div class="data-value col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="report-wrapper pad-0 col-12">
            <div class="report-container col-12 pad-0 row marg-0">
                <div class="report-row col-6 pad-0 bar-chart">
                    <div class="chart-container col-12 chart-container-1">
                        <div class="chart-title-holder col-12 row marg-0 pad-0">
                            <div class="chart-title col-7 pad-0">
                                <ism-calc-output ref="tlOutput_B9_tlCharts"></ism-calc-output>
                            </div>
                            <div class="change-value col-5 pad-0">
                                <ism-calc-output ref="tlOutput_E9_tlCharts" format="0.0%">
                                </ism-calc-output>
                            </div>
                        </div>
                        <div class="chart-data pad-0 col-12">
                            <ism-chart class="col-12 pad-0" *ngIf="showChart"
                                [rangeRef]="[['tlOutput_C9_tlCharts'], ['tlOutput_D9_tlCharts']]"
                                [seriesOptions]="[{type: 'bar', 'name': 'tlOutput_C8_tlCharts'}, {type: 'bar', 'name': 'tlOutput_D8_tlCharts'}]"
                                [xAxis]="{visible: false, categories: ['tlOutput_C8_tlCharts', 'tlOutput_D8_tlCharts']}"
                                [yAxis]="{ title: { text: '' }, labels: { enabled: false }}"
                                [chartOptions]="chartOptions1">
                            </ism-chart>
                        </div>
                    </div>
                </div>
                <div class="report-row col-chart col-6 pad-0">
                    <div class="chart-container col-12 chart-container-2">
                        <div class="chart-title chart-title-holder">
                            <ism-calc-output ref="tlOutput_B6_tlCharts"></ism-calc-output>
                        </div>
                        <div class="chart-data">
                            <ism-chart *ngIf="showChart"
                                [rangeRef]="[['tlOutput_C6_tlCharts', 'tlOutput_D6_tlCharts', 'tlOutput_E6_tlCharts', 'tlOutput_F6_tlCharts']]"
                                [seriesOptions]="[{'type': 'column', name: '', showInLegend: false}]"
                                [xAxis]="{categories: ['tlOutput_C5_tlCharts', 'tlOutput_D5_tlCharts', 'tlOutput_E5_tlCharts', 'tlOutput_F5_tlCharts'], tickWidth: 0}"
                                [yAxis]="{title: '', labels: { enabled: false }, format: '{value:$0,0.00a}'}"
                                [chartOptions]='chartOptions2'>
                            </ism-chart>
                        </div>
                        <div class="chart-note">
                            <ism-calc-output ref="nmDisclaimerDiscRate"></ism-calc-output>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper col-12 pad-0 mobile-view">
    <div class="page-header col-12 pad-0">
        <div class="page-header-icon col-1 pad-0">
            <img src="./../../assets/icons/feature.svg">
        </div>
        <div class="page-header-text">
            <div class="scenario-number">
                <ism-text-output key="Scenario1"></ism-text-output>
            </div>
            <div class="scenario-label">
                <ism-text-output key="Tab1Text"></ism-text-output>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="decisions-wrapper">
            <div class="decision-container">
                <div class="data-container">
                    <div class="data-content">
                        <div class="header-row marg-0 row">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C7_tlScen1"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E7_tlScen1" ref="tlInputARPUScen1" step="1"
                                    format="$0,0.00" min="-200" outputMin="-200" max="200" outputMax="200"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_G7_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I7_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K7_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C8_tlScen1"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E8_tlScen1" ref="tlInputCTSpUScen1" step="1"
                                    format="$0,0.00" min="-50" outputMin="-50" max="50" outputMax="50"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_G8_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I8_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K8_tlScen1" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C9_tlScen1"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_G9_tlScen1" ref="tlInputChurnScen1" step="1"
                                    scaler="100" format="0%" min="-60" outputMin="-60" max="40" outputMax="40"
                                    outputFormat="0%">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I9_tlScen1" format="0.00%"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K9_tlScen1" format="0.00%"></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C10_tlScen1"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E10_tlScen1" ref="tlInputCACpUScen1"
                                    step="1" format="$0,0.00" min="-20" outputMin="-20" max="20" outputMax="20"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen1"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="report-wrapper">
            <div class="report-container">
                <div class="report-row chart-container chart-container-1 bar-chart">
                    <div class="chart-title-holder col-12 pad-0 row marg-0">
                        <div class="chart-title col-7 pad-0">
                            <ism-calc-output ref="tlOutput_B9_tlCharts"></ism-calc-output>
                        </div>
                        <div class="change-value col-5 pad-0">
                            <ism-calc-output ref="tlOutput_E9_tlCharts"></ism-calc-output>
                        </div>
                    </div>
                    <div class="chart-data">
                        <ism-chart *ngIf="showChart" [rangeRef]="[['tlOutput_C9_tlCharts'], ['tlOutput_D9_tlCharts']]"
                            [seriesOptions]="[{type: 'bar', 'name': 'tlOutput_C8_tlCharts'}, {type: 'bar', 'name': 'tlOutput_D8_tlCharts'}]"
                            [xAxis]="{visible: false, categories: ['tlOutput_C8_tlCharts', 'tlOutput_D8_tlCharts', 'tlOutput_E8_tlCharts']}"
                            [yAxis]="{ title: { text: '' }, labels: { enabled: false }}" [chartOptions]="chartOptions1">
                        </ism-chart>
                    </div>
                </div>
                <div class="report-row chart-container chart-container-2 col-chart">
                    <div class="chart-title-holder">
                        <div class="chart-title">
                            <ism-calc-output ref="tlOutput_B6_tlCharts"></ism-calc-output>
                        </div>
                    </div>
                    <div class="chart-data">
                        <ism-chart *ngIf="showChart"
                            [rangeRef]="[['tlOutput_C6_tlCharts', 'tlOutput_D6_tlCharts', 'tlOutput_E6_tlCharts', 'tlOutput_F6_tlCharts']]"
                            [seriesOptions]="[{'type': 'column', name: '', showInLegend: false}]"
                            [xAxis]="{categories: ['tlOutput_C5_tlCharts', 'tlOutput_D5_tlCharts', 'tlOutput_E5_tlCharts', 'tlOutput_F5_tlCharts']}"
                            [yAxis]="{title: '', labels: { enabled: false }, format: '{value:$0,0.00a}'}"
                            [chartOptions]='chartOptions2'>
                        </ism-chart>
                    </div>
                    <div class="chart-note">
                        <ism-calc-output ref="nmDisclaimerDiscRate"></ism-calc-output>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>