@import '../../../styles/colors.styl'      
        
.page
    &-header
        background-color rgba(215, 58, 1, 1)
    &-content
        border 3px solid rgba(215, 58, 1, 1)
        .report
            &-row
                .chart
                    &-title
                        color rgba(215, 58, 1, 1)     
        .nextButtonWrapper
            .next
                &-btn
                    border 2px solid rgba(215, 58, 1, 1)
                &-arrow
                    color rgba(215, 58, 1, 1)