<!-- <div style="clear:both;margin-top: 10%;"></div> -->
<footer>
    <div class="row footer" [ngStyle]="footerData.mainContainer.style">
      <div class="f-right col-sm-11 col-md-11 col-lg-11">
        <div class="dashboard-metric-table-wrapper" *ngIf="footerData.navMetricTableData">
          <ism-metric-table [metricTableData]="footerData.navMetricTableData"></ism-metric-table>
        </div>
      </div>
      <div *ngIf="footerData.desc" class="f-right col-sm-11 col-md-11 col-lg-11 copyright-text" [ngStyle]="">{{footerData.desc}}</div>
      <div class="f-right col-sm-1 col-md-1 col-lg-1">
        <img src="{{footerData.logo}}" width="70">
      </div>
    </div>
</footer>