<!-- Header -->
<div class="products-header row" [ngStyle]="headerData.headerHeight">
  <div class="header-logo col-sm-1 col-lg-1">
    <img src="{{headerData.headerLogo}}" width="100" style="width:100%;">
  </div>
  <div class="col-sm-1 col-lg-1">
    <div class="hd-icon-container">
      <i class="icon-home" [ngClass]="headerData.homeIcon"></i>
    </div>
  </div>
  <div [ngClass]="{'col-sm-2':headerData.type == 'limiteddashboardheader', 'col-lg-2': headerData.type == 'limiteddashboardheader', 'col-lg-1': headerData.type !== 'limiteddashboardheader', 'col-sm-1': headerData.type !== 'limiteddashboardheader'}">
    <div class="header-report" *ngIf="headerData.type == 'limiteddashboardheader'">
      <i [ngClass]="headerData.decisionIcon"></i>
      <span>Decisions</span>
      <i class="icon-arrow-down"></i>
    </div>
  </div>
  <div *ngIf="headerData.chartmetrics" [ngClass]="{'col-sm-4':headerData.type == 'limiteddashboardheader','col-lg-4':headerData.type == 'limiteddashboardheader', 'col-sm-5':headerData.type !== 'limiteddashboardheader','col-lg-5':headerData.type !== 'limiteddashboardheader'}"
    style="padding: 0">
    <ism-metric-chart showBalloon="true" [chartData]="headerData.chartmetrics"></ism-metric-chart>
  </div>
  <div class="col-sm-2 col-lg-2">
    <div class="header-report">
      <i class="icon-document"></i>
      <span>Reports</span>
      <i class="icon-arrow-down"></i>
    </div>
  </div>
  <div class="col-sm-1 col-lg-1">
    <div class="hd-calender-icon-container">
      <i class="icon-events"></i>
      <i class="icon-arrow-down"></i>
    </div>
  </div>
  <div class="col-sm-1 col-lg-1" style="text-align: center">
    <div class="icon-programs-fill" (click)="isShow()"></div>
  </div>

  <div *ngIf="showMenu">
    <ul class="nav-menu">
      <li>
        <a routerLink="/overview/dashboard" (click)="clickLink()">Dashboard</a>
      </li>
      <li>
        <a routerLink="/overview/dashboard-wide" (click)="clickLink()">Wide Dashboard</a>
      </li>
      <li>
        <a routerLink="/overview/products" (click)="clickLink()">Products</a>
      </li>
      <li>
        <a routerLink="/overview/dashboard-many-metrics" (click)="clickLink()">Dashboard Many Metrics</a>
      </li>
      <li>
        <a routerLink="/overview/dashboard-limited-metrics" (click)="clickLink()">Dashboard Limited Metrics</a>
      </li>
    </ul>
  </div>
</div>
<!-- Header Ends -->