@import '../../../styles/colors.styl';

.products-header
    padding: 15px 10px 0px 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flexbox;
    // height 160px;
    background: linear-gradient($white, $white, $neutral2)
    .hd-icon-container 
        border: 1px solid lighten($neutral3, 30);
        width: max-content;
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        box-shadow: 0px 1px 4px 0px $neutral2
        font-size: 1.2rem
        padding: 6px 15px 6px 15px;
        color: $neutral3;
    .hd-calender-icon-container
        border: 1px solid lighten($neutral3, 30);
        width: max-content
        border-radius: 20px;
        box-shadow: 0px 1px 4px 0px $neutral2
        color $neutral4
        justify-content: space-around;
        margin: 0 auto
        font-size: 18px;
        padding: 1px 15px 1px 15px;
        height auto
        align-items: flex-end;
        color: $neutral3;
        i.icon-arrow-down 
            font-size: 11px;
            vertical-align: middle;
            margin-left: 3px;
    .header-report 
        border: 1px solid lighten($neutral3, 30);
        text-align: center;
        border-radius: 50px;
        color $neutral4
        flex-wrap: nowrap
        padding: 1px 15px 1px 15px;
        font-size 1.2rem
        width: max-content
        margin: 0 auto;
        box-shadow: 0px 1px 4px 0px $neutral2
        color: $neutral3
        & > span
            padding: 0 15px 0 5px

    .icon-programs-fill
        color $neutral4 
    .menu .icon-menu
        position absolute;
        z-index 10000;
        background transparent;
        right 5px;
        top 5px;
        font-size 25px;
    > divnth-child(2)
        position relative
    ul.nav-menu
        position: absolute;
        right: 80px;
        top: 15px;
        background: $white;
        padding: 0;
        list-style: none;
        cursor pointer
        z-index: 102 
        box-shadow: 0px 1px 6px 1px $neutral3;
        li, a
            padding: 10px;
            color:$neutral4
            font-weight: 500
        li:hover, a:hover
            background: $neutral1
            text-decoration: none

// @media screen and (max-width: 1200px)
//     .products-header
//         height: auto !important;
//     .products-header > div
//         // background: lightgreen;
//         // border: 1px solid red
//         min-width 100%

     
    