@import '../../../styles/colors.styl';

.notify-bell
    float:right;
    // color:red;
    margin: 11px;
    font-size:22px; 
    cursor:pointer;
.bell-red
    color: red;    
.bell-green
    color:green;
.notify-msg 
    position: fixed;
    right: -1000px;
    top: 50px;
.show-notify-msg 
    position: fixed;
    right: 10px;
    top: 50px;
.rotate 
    -webkit-transition all 1s ease-in-out
    -o-transition: all 1s ease-in-out
    -moz-transition: all 1s ease-in-out
    transition: all 0.8s ease-in-out