<div class="notify-bell" [ngClass]="{'bell-red': !data.flag, 'bell-green': data.flag }" (click)="showNotify()">
    <i class="icon-bell"></i>
</div>
<div class="rotate" *ngIf="data.message != ''" [ngClass]="{'notify-msg':!show, 'show-notify-msg': show}">
    <!--Success message-->
    <div class="btn btn-success" *ngIf="data.flag">{{data.message}}
        <i class="icon-close" (click)="showNotify()"></i>
    </div>
    <!--Error message-->
    <div class="btn btn-danger" *ngIf="!data.flag">{{data.message}}
        <i class="icon-close" (click)="showNotify()"></i>
    </div>

</div>