<!-- Horizontal Navbar -->
<div class="wrapper" *ngIf="barType === 'hr'">
  <div class="left-div" [ngClass]="showSubNav ? 'slide-left-hide' : 'slide-right-show'">
    <ul>
      <li *ngFor="let x of navData; let i=index;" [ngClass]="i === activeMainNavIndex ? 'active-link' : ''" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:
        true}">

        <a *ngIf="x.route" (click)="showNavigation(x)" routerLink="{{x.route}}" class="link-caps" href="#">
          <i *ngIf="i === 0" class="fa" [ngClass]="x.icon ? 'icon-home' : 'icon-slider'"></i> &nbsp;
          <ism-text-output key="{{x.titleRef}}"></ism-text-output>
        </a>

        <a *ngIf="!x.route" (click)="showNavigation(x)" class="link-caps">
          <ism-text-output key="{{x.titleRef}}"></ism-text-output>
        </a>
      </li>
    </ul>
  </div>
  <div class="right-div" [ngClass]="showSubNav ? 'slide-left-show' : 'slide-right-hide'" [style.display]="animate ? 'block' : 'none'">
    <ul>
      <li>
        <a (click)="showSubNav=false">
          <i class="icon-expand-arrow"></i>
        </a>
      </li>
      <li>
        <a (click)="showSubNav=false">
          <i class="icon-slider"></i>
        </a>
      </li>
      <li *ngFor="let a of SubNav; let i=index;">
        <a (click)="showSubNavigation(a)" routerLink="{{a.route}}" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" class="sub-link-caps" href="#">{{a.titleRef}}</a>
      </li>
    </ul>
  </div>

</div>
<!-- Vertical Navbar -->
<div class="wrapper-vr" *ngIf="barType === 'vr'" [ngStyle]="navData[0].style">
  <nav class="navbar navbar-expand-md navbar-dark">
    <!-- <a class="navbar-brand" href="#"><i class="fa icon-slider"></i></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <ng-template ngFor let-x [ngForOf]="navData" let-i="index">
          <li *ngIf="!x.style" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [ngClass]="x.titleRef ? 'nav-item' : 'no-nav-item'"
            class="dropdown">
            <!-- Route Link -->
            <a *ngIf="!x.subNav" routerLink="{{x.route}}" class="nav-link link-caps">
              <span class="pre-nav-icon" *ngIf="x.icon">
                <i class="{{x.icon}}"></i>
              </span>
              <ism-text-output key="{{x.titleRef}}"></ism-text-output>
            </a>

            <!-- Drop Down Link -->
            <a *ngIf="x.subNav" class="nav-link dropdown-toggle link-caps" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" href="#">
              <span class="pre-nav-icon" *ngIf="x.icon">
                <i class="{{x.menuIcon}}"></i>
                <i class="{{x.icon}}" [ngStyle]="{'font-size': x.iconStyle}"></i>
              </span>
              <ism-text-output key="{{x.titleRef}}"></ism-text-output>&nbsp;
              <span class="nav-icon">
                <i class="icon-arrow-down"></i>
              </span>
            </a>

            <ul *ngIf="x.subNav" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li *ngFor="let y of x.subNav" routerLinkActive="active-sublink">
                <!-- Route Link -->
                <a *ngIf="!y.subNav" routerLink="{{y.route}}" class="dropdown-item">
                  <ism-text-output key="{{y.titleRef}}"></ism-text-output>
                </a>

                <!-- Drop Down Link -->
                <a *ngIf="y.subNav" class="dropdown-item dropdown-toggle" href="#">
                  <ism-text-output key="{{y.titleRef}}"></ism-text-output>&nbsp;
                  <!-- <span> -->
                  <i class="icon-expanded-arrow"></i>
                  <!-- </span> -->
                </a>
                <ul *ngIf="y.subNav" class="dropdown-menu">
                  <li *ngFor="let b of y.subNav" routerLinkActive="active-sub-sublink">
                    <a class="dropdown-item" routerLink="{{b.route}}">
                      <ism-text-output key="{{b.titleRef}}"></ism-text-output>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</div>