@import '../../../styles/colors.styl';

.wrapper
    position relative
    overflow hidden
    width 100%
    min-height 44px
    background $primaryGradient
    .left-div
        left -100%
    .right-div
        left 100%
    .left-div,
    .right-div
        position absolute
        width 100%
        min-height 45px
        ul
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        li
            float: left;
            a
                display: block;
                color: $white;
                text-align: center;
                // padding: 10px 16px;
                padding: 0.5rem 0.8rem;
                text-decoration: none;
                &:hover
                    color: $linkActive !important;
    .slide-left-show
        vendor('animation', slide-left-show 0.5s forwards)
    .slide-left-hide
        left 0
        vendor('animation', slide-left-hide 0.5s forwards)
    .slide-right-show
        vendor('animation', slide-right-show 0.5s forwards)
    .slide-right-hide
        left 0
        vendor('animation', slide-right-hide 0.5s forwards)

@keyframes slide-left-show
    100%
        left 0
@keyframes slide-right-show
    100%
        left 0

@keyframes slide-left-hide
    100%
        left -100%
@keyframes slide-right-hide
    100%
        left 100%

.link-caps
        text-transform: capitalize;
.sub-link-caps
        text-transform: capitalize;
// .active-link
//         border-bottom: 6px solid $linkActive;

.wrapper-vr
    position relative
    width 100%
    background $primaryGradient
    a[aria-expanded="true"]
        background-color $linkActive
        .nav-icon
            transform rotate(180deg)
    .nav-item
        min-width 175px
    .no-nav-item
        min-width: 75px;    
        border-right 1px solid $white
    li.nav-item:not(:last-child)
        border-right 1px solid $white
    .nav-link 
        padding 0.7rem 1rem
    @font-face 
        font-family: "Open Sans"; 
        src: url("../../../assets/fonts/Open_Sans/OpenSans-Regular.ttf");     
    .navbar
        font-family: "Open Sans Semibold", "Open Sans Regular", "Open Sans";
        padding: 0;
    .navbar-nav > li > a
        color: $white !important;
        font-size 0.93em
        display: flex;
        // justify-content: space-around;
        .pre-nav-icon
            padding-right 5px
            & > *
                margin-right 10px
        .nav-icon
            margin-left: 20px
        .nav-icon:first-child
            margin-left: 10px

    .dropdown-menu 
        background: $white;
        margin-top 0
        width 100%
        border-radius 0
        padding 0
        border 1px solid $neutral2
        box-shadow: 1px 1px 5px $neutral2;
        visibility: hidden
        opacity 0
        display flex !important
        flex-direction: column;
        transition all 0.5s ease
        height: 0px;
        a
            text-transform: capitalize;
            color $neutral3
            font-size 0.9em
            font-weight 400
        li:nth-child(even)
            background-color $neutral1
        li:nth-child(odd)
            background-color $white
        li
            .dropdown-item
                padding .25rem 0.5rem
    .dropdown-menu.show
        opacity: 1;
        visibility: visible;       
    .dropdown-menu a:hover
        background $neutral2
        color $white
    // .navbar-nav a:hover
    //     color: $linkActive !important;
    .active-link
        background $linkActive;
    .active-sublink > a
        background-color $linkActive
        color: $neutral1
    .active-sub-sublink > a
        background-color $linkActive
        color: $neutral1  
    .dropdown-toggle::after
        display: none;  

                               

            
