<div class="container-fluid selection-container">
  <!-- Seletion Indicator -->
  <div class="row selection-indicator" *ngIf="SelectionData.desc || SelectionData.maxSelection">
    <div class="col-md-12" *ngIf="SelectionData.desc && SelectionType === 'droplist'">{{SelectionData.desc}}</div>
    <div class="col-md-9" *ngIf="SelectionData.desc && SelectionType === 'short' || SelectionType === 'long'">{{SelectionData.desc}}</div>
    <div class="col-md-3">
      <div class="options" [ngClass]="{'fill':SelectionData.maxSelection === maxSelection}" *ngIf="SelectionData.maxSelection && SelectionType === 'short' || SelectionType === 'long'">
        <span *ngIf="maxSelection === undefined; else maxnum">0</span>
        <ng-template #maxnum>{{ maxSelection }}</ng-template> of {{ SelectionData.maxSelection }} Initiatives Selected
      </div>
    </div>
  </div>
  <!-- Seletion Indicator -->
  <!-- Selection Options Number -->
  <div class="row selection-options-count" style="justify-content: flex-end;" *ngIf="SelectionType === 'long'">
    <div *ngIf="navigationFlag === undefined"> 1 - {{ this.SelectionData.options[0].length }} of {{displayOptionCount}}</div>
    <div *ngIf="navigationFlag === 'prev'"> 1 - {{ this.SelectionData.options[0].length }} of {{displayOptionCount}}</div>
    <div *ngIf="navigationFlag === 'next'"> {{1 + this.SelectionData.options[0].length}} - {{ this.SelectionData.options[0].length
      + this.SelectionData.options[0].length}} of {{displayOptionCount}}</div>
  </div>
  <!-- Selection Options Number -->
  <!-- <div class="row heading-wrapper"> -->
  <!-- <div class="col-12 heading-wrapper-content">
      <p>Strategic Initiatives</p>
    </div> -->
  <!-- </div> -->
  <div style="clear: both;"></div>
  <!-- Drop List -->
  <div *ngIf="SelectionType === 'droplist'" class="wrapper-dropdown" [ngClass]="{'active':list}" (click)="droplist($event)">
    <div class="label" (click)="droplist($event)">
      <div *ngIf="!list" (click)="droplist($event)" [ngClass]="SelectionData.labelInActive !== 'Not Selected' ? 'selected-text-color' : '' ">{{SelectionData.labelInActive}}</div>
      <div *ngIf="list" (click)="droplist($event)">{{SelectionData.labelActive}}</div>
    </div>
    <i [ngClass]="{'icon-arrow-down': !list, 'icon-arrow-up': list}"></i>

    <ul [ngClass]="{'show':list, 'hide':!list}">
      <ng-template ngFor let-x [ngForOf]="SelectionData.options" let-i="index" let-odd="odd">
        <li [ngClass]="{'odd':odd, 'even':!odd}" [value]="x" (click)="SelectedValue(x, $event, 'droplist')">{{x}}</li>
      </ng-template>
    </ul>
  </div>

  <!-- Short -->
  <div *ngIf="SelectionType === 'short'" class="row" style="justify-content: center;">
    <ng-template ngFor let-x [ngForOf]="SelectionData.options" let-i="index">

      <div class="short-option row effect" [ngClass]="{'option-selected': SelectionData.options[i].selected, 'disable': SelectionData.maxSelection <= maxSelection && !SelectionData.options[i].selected ? true : false}"
        (click)="shortOptionSelect(x); SelectedValue(x, $event)">
        <div class="col-2">
          <div class="short-square effect" [ngClass]="{'square-active': SelectionData.options[i].selected}">
            <i [ngClass]="{'icon-checkmark':SelectionData.options[i].selected}"></i>
          </div>
        </div>
        <div class="col-10" style="padding-left: 0px;">
          <p class="short-title">{{i + 1}}: {{x.title}}</p>
          <p class="short-article">{{x.article}}</p>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- Long -->

  <div class="long" *ngIf="SelectionType === 'long'" id="demo" class="row carousel slide" data-interval="false">

    <!-- The slideshow -->
    <div class="container carousel-inner no-padding">

      <div class="carousel-control-prev" (click)="displayOptions('prev')" href="#demo" data-slide="prev">
        <i class="icon-expand-arrow-left navigation"></i>
      </div>
      <div *ngIf="SelectionData && SelectionData.options">
        <ng-template ngFor let-options [ngForOf]="SelectionData.options" let-i="index">
          <div class="container carousel-item" [ngClass]="{'active': i === 0 ? true : false }">
            <div style="display: flex">

              <ng-template ngFor let-op [ngForOf]="options" let-o="index">
                <div class="long-option" (click)="shortOptionSelect(op)" [ngClass]="{'active-option':options[o].clickTitle, 'disable': SelectionData.maxSelection <= maxSelection && !options[o].selected ? true : false}">
                  <div class="long-checkbox" (click)="SelectedValue(op, $event)">
                    <i [ngClass]="{'icon-checkmark':options[o].selected}"></i>
                  </div>
                  <div class="long-title">{{op.title}}</div>
                </div>
              </ng-template>
            </div>

          </div>
        </ng-template>
      </div>

      <div class="carousel-control-next" (click)="displayOptions('next')" href="#demo" data-slide="next">
        <i class="icon-expand-arrow navigation"></i>
      </div>

    </div>
    <div *ngIf="optionSelected && optionSelected.length != 0" class="container long-content">
      <div class="long-content-header">
        <div class="long-checkbox" (click)="SelectedValue(optionSelected, $event)">
          <i [ngClass]="{'icon-checkmark':optionSelected.selected}"></i>
        </div>
        <div>
          <h3>{{optionSelected.article[0].headline}}</h3>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="col-md-6 col-sm-6 col-lg-6">{{optionSelected.article[0].description }}
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
          <div class="container">
            <h5>{{optionSelected.article[0].cost[0].title}}</h5>
            <p>{{optionSelected.article[0].cost[0].price}}</p>
          </div>
          <div class="container">
            <h5>{{optionSelected.article[0].benefit[0].title}}</h5>
            <p>{{optionSelected.article[0].benefit[0].income}}</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>