@import '../../../styles/colors.styl';

.selection-indicator 
    justify-content: flex-end
    margin-bottom: 15px
    color: $neutral3
    .options
        border: 2px solid $secondaryColor;
        padding: 5px 0px;
        text-align: center;
        border-radius: 5px;
        font-weight: 600
        transition: all 0.5s ease-out
    .fill
        color $white
        background: $secondaryColor;
        transition: all 0.5s ease-in
.selection-options-count
    color: $neutral3  
    margin-bottom: 10px;     

/* Style for Drip List*/
.heading-wrapper
        width 100%
        z-index 1
        background-color $white
        margin-bottom: 25px;

        &-content
            padding-top 10px
            padding-bottom 10px
            background-color $neutral3
            color $white
            border-radius 30px
            font-size 20px
            box-shadow 0 5px 10px 0 $neutral2
            p
                margin 0 15px
ul
    list-style none
    overflow hidden
    margin 0
    padding 0
    border: 1px solid $neutral1
    position absolute
    width: 100%
    margin-top: -2px;
    border-top: none;
    box-shadow 3px 1px 10px 0 $neutral2
li
    // padding-left 20px    
    background-color $white
    color $neutral3
    padding: 7px 20px;
li:hover
    background-color $neutral2
    color $white   
.wrapper-dropdown
    position relative
    width 24%  
    margin 0 auto
    background-color $primaryColor
    color $white
    cursor pointer
    outline none
    border-radius 3px
    box-shadow $box-shadow1
    display inline-block 
    .label
        padding 10px 20px   
.carousel-item .active 
   background-color $white !important    
.wrapper-dropdown:hover
    background-color $dodgerblue3  
.wrapper-dropdown.active
        box-shadow: 3px 0px 10px 0 $neutral2;    
.icon-arrow-down
    position absolute
    right 18px
    top 15px
    // font-size 19px
    color $white
.icon-arrow-up
    position absolute
    right 18px
    top 15px
    // font-size 19px
    color $white    
.odd
    background-color $neutral1    
.even
    background-color $white   
.show
    height auto
.hide
    height 0px
    overflow hidden  
    border: none    

/* Style for Short */  
.short-option
    width 410px
    position relative
    // height 113px
    border 2px solid $neutral2
    border-radius 5px
    float left
    margin 4px
    cursor pointer
    margin-right: 30px
    .short-square
        border 5px solid $neutral4
        width 40px
        height 40px
        border-radius 7px
        position relative
        top 18%
        margin: 0 auto
        text-align center
        i.icon-checkmark
            font-size 26px
            color $secondaryColor
    .short-title
        margin 10px 0px 2px 2px
        font-size 18px
        font-weight 500
    .short-article 
        line-height 18px
    .square-active
        background-color $white    
        border none 
        display: flex;
        align-items: center;
        justify-content: center;
.option-selected
    background-color $secondaryColor
    box-shadow 0px 3px 9px $neutral4
    color $white
.disable
    pointer-events none    
    opacity 0.5
.effect
    -webkit-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out;

.long-option
    flex: 1
    background-color $neutral1
    height: 120px;
    padding: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid $primaryColor;
    .long-checkbox
        border 5px solid $neutral2
        width 40px
        height 40px
        border-radius 7px
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor pointer
        i.icon-checkmark
            font-size 26px
            color $secondaryColor
.long-option:hover
    background-color: $white          
.no-padding 
    padding-left: 0;
    padding-right: 0;
.carousel
    position: inherit !important
.carousel-control-next, .carousel-control-prev
    width auto !important
    z-index 1
    display: flex;
    justify-content: center;
    align-items: center;
.carousel-item  
    padding: 0px 25px;
.navigation
    font-size: 47px;
    color: $primaryColor;
    border: 1px solid $neutral2;
    height: 120px;
    padding-top: 16%;  
    background $white;  
    padding-top: 30px;
    font-size: 25px;
    font-weight: 600;
    padding-top: 45px;
.long-option.active-option 
    border: 1px solid $primaryColor;
    border-bottom: none
    background-color: $white 
.long-title:hover
    color: $primaryColor
    cursor pointer
.long-content
    border: 1px solid $primaryColor 
    border-top: none;
    .long-content-header
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .long-checkbox
            border 5px solid $neutral2Light
            width 35px
            height 35px
            border-radius 7px
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor pointer
            i.icon-checkmark
                font-size 20px
                color $secondaryColor1
    h3 
        padding: 15px
        color: $primaryColor
        font-size: 36px   
        font-weight: 300
    .hide-title 
        visibility: hidden;
        opacity: 0;    
        transition: all 0.5s ease-out   
    .show-title 
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease-in   
.container
    max-width 100%
    

    