@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k4bqp2');
  src:  url('fonts/icomoon.eot?k4bqp2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k4bqp2') format('truetype'),
    url('fonts/icomoon.woff?k4bqp2') format('woff'),
    url('fonts/icomoon.svg?k4bqp2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-picture:before {
  content: "\e981";
}
.icon-video-camera:before {
  content: "\e987";
}
.icon-microphone:before {
  content: "\e982";
}
.icon-handshake:before {
  content: "\e97f";
}
.icon-shield:before {
  content: "\e980";
}
.icon-single-forward:before {
  content: "\e97a";
}
.icon-back-forth:before {
  content: "\e97b";
}
.icon-double-forward:before {
  content: "\e97c";
}
.icon-research:before {
  content: "\e948";
}
.icon-raised-hand:before {
  content: "\e97d";
}
.icon-blocks:before {
  content: "\e97e";
}
.icon-dash:before {
  content: "\e979";
}
.icon-company:before {
  content: "\e978";
}
.icon-text-view:before {
  content: "\e977";
}
.icon-menu:before {
  content: "\e976";
}
.icon-thumbs-down:before {
  content: "\e974";
}
.icon-thumbs-up:before {
  content: "\e975";
}
.icon-action-person:before {
  content: "\e972";
}
.icon-initiatives:before {
  content: "\e973";
}
.icon-email-02:before {
  content: "\1f582";
}
.icon-attachment-01:before {
  content: "\e970";
}
.icon-search-01:before {
  content: "\e971";
}
.icon-phone-hangup:before {
  content: "\e984";
}
.icon-phone-calling:before {
  content: "\e96f";
}
.icon-location:before {
  content: "\e96e";
}
.icon-warning:before {
  content: "\e96d";
}
.icon-radio-button-empty:before {
  content: "\e96b";
}
.icon-radio-button-selected:before {
  content: "\e96c";
}
.icon-bell:before {
  content: "\e969";
}
.icon-bell-indicator:before {
  content: "\e96a";
}
.icon-save:before {
  content: "\e961";
}
.icon-heirarchy:before {
  content: "\e962";
}
.icon-checkbox-checked:before {
  content: "\e963";
}
.icon-checkbox-empty:before {
  content: "\e964";
}
.icon-browse:before {
  content: "\e965";
}
.icon-clock-time:before {
  content: "\e966";
}
.icon-cancel-apt:before {
  content: "\e983";
}
.icon-up-down-arrows:before {
  content: "\e985";
}
.icon-arrow-down:before {
  content: "\e967";
}
.icon-arrow-up:before {
  content: "\e968";
}
.icon-password:before {
  content: "\e960";
}
.icon-quote:before {
  content: "\e95d";
}
.icon-send:before {
  content: "\e95e";
}
.icon-team-no-circle:before {
  content: "\e95c";
}
.icon-team:before {
  content: "\e95b";
}
.icon-lock:before {
  content: "\e95a";
}
.icon-audio-mute:before {
  content: "\e955";
}
.icon-audio:before {
  content: "\e954";
}
.icon-exit-full-screen:before {
  content: "\e956";
}
.icon-full-screen:before {
  content: "\e953";
}
.icon-voice-mail:before {
  content: "\e986";
}
.icon-play:before {
  content: "\e951";
}
.icon-pause:before {
  content: "\e952";
}
.icon-alert:before {
  content: "\e94f";
}
.icon-alert-outline:before {
  content: "\e950";
}
.icon-key-pad:before {
  content: "\e94d";
}
.icon-slider:before {
  content: "\e94e";
}
.icon-reset:before {
  content: "\e94c";
}
.icon-share-fill:before {
  content: "\e98c";
}
.icon-share:before {
  content: "\e94a";
}
.icon-shipping:before {
  content: "\e947";
}
.icon-finance-decision:before {
  content: "\e949";
}
.icon-transcript:before {
  content: "\e946";
}
.icon-synching:before {
  content: "\e943";
}
.icon-chain-linked:before {
  content: "\e941";
}
.icon-chain-broken:before {
  content: "\e942";
}
.icon-equal-outline:before {
  content: "\e93f";
}
.icon-equal:before {
  content: "\e940";
}
.icon-trash:before {
  content: "\e93d";
}
.icon-settings:before {
  content: "\e939";
}
.icon-business-challenges:before {
  content: "\e93a";
}
.icon-close:before {
  content: "\e900";
}
.icon-return-arrow:before {
  content: "\e922";
}
.icon-action-arrow:before {
  content: "\e901";
}
.icon-back-arrow-fill:before {
  content: "\e902";
}
.icon-forward-arrow-fill:before {
  content: "\e959";
}
.icon-back-arrow-outline:before {
  content: "\e903";
}
.icon-action-arrow-outline:before {
  content: "\e957";
}
.icon-advanced:before {
  content: "\e904";
}
.icon-intermediate:before {
  content: "\e905";
}
.icon-beginner:before {
  content: "\e906";
}
.icon-leaderboard:before {
  content: "\e907";
}
.icon-results:before {
  content: "\e908";
}
.icon-market-update:before {
  content: "\e926";
}
.icon-results-list:before {
  content: "\e93e";
}
.icon-calculator-fill:before {
  content: "\e909";
}
.icon-calculator-outline:before {
  content: "\e90a";
}
.icon-calendar-outline:before {
  content: "\e90b";
}
.icon-events:before {
  content: "\e90c";
}
.icon-case-example-outline:before {
  content: "\e90d";
}
.icon-information:before {
  content: "\e90e";
}
.icon-circle-star:before {
  content: "\e945";
}
.icon-network:before {
  content: "\e944";
}
.icon-circle-password:before {
  content: "\e95f";
}
.icon-globe:before {
  content: "\e93c";
}
.icon-compass:before {
  content: "\e93b";
}
.icon-circle-info:before {
  content: "\e90f";
}
.icon-duration-clock:before {
  content: "\e918";
}
.icon-go-do-fill:before {
  content: "\e98d";
}
.icon-go-do-outline:before {
  content: "\e938";
}
.icon-action-planned-fill:before {
  content: "\e910";
}
.icon-document:before {
  content: "\e911";
}
.icon-glossary-fill:before {
  content: "\e912";
}
.icon-glossary-outline:before {
  content: "\e913";
}
.icon-quick-resources-fill:before {
  content: "\e914";
}
.icon-quick-resources-outline:before {
  content: "\e915";
}
.icon-up-indicator:before {
  content: "\e916";
}
.icon-down-indicator:before {
  content: "\e917";
}
.icon-edit-outline:before {
  content: "\e919";
}
.icon-exercise-outline:before {
  content: "\e91a";
}
.icon-expand-arrow:before {
  content: "\e91b";
}
.icon-expand-arrow-left:before {
  content: "\e91c";
}
.icon-expanded-arrow:before {
  content: "\e91d";
}
.icon-expand-arrow-up:before {
  content: "\e958";
}
.icon-favorite-fill:before {
  content: "\e91e";
}
.icon-favorite-outline:before {
  content: "\e91f";
}
.icon-filter-fill:before {
  content: "\e920";
}
.icon-filter-outline:before {
  content: "\e921";
}
.icon-instructions:before {
  content: "\e923";
}
.icon-moment:before {
  content: "\e98b";
}
.icon-concepts:before {
  content: "\e988";
}
.icon-mindsets:before {
  content: "\e989";
}
.icon-mindsets-fill:before {
  content: "\e98e";
}
.icon-external-resource:before {
  content: "\e98a";
}
.icon-learning-burst-outline:before {
  content: "\e924";
}
.icon-logout-fill:before {
  content: "\e925";
}
.icon-me-fill:before {
  content: "\e927";
}
.icon-me-outline:before {
  content: "\e928";
}
.icon-plus:before {
  content: "\e929";
}
.icon-no-change:before {
  content: "\e92a";
}
.icon-opportunity:before {
  content: "\e92b";
}
.icon-programs:before {
  content: "\e92c";
}
.icon-programs-fill:before {
  content: "\e92d";
}
.icon-quiz-outline:before {
  content: "\e92e";
}
.icon-checkmark:before {
  content: "\e92f";
}
.icon-recent-activity-complete:before {
  content: "\e930";
}
.icon-recent-activity-current:before {
  content: "\e931";
}
.icon-recommended-fill:before {
  content: "\e932";
}
.icon-recommended-outline:before {
  content: "\e933";
}
.icon-resources-fill:before {
  content: "\e934";
}
.icon-resources-outline:before {
  content: "\e935";
}
.icon-simulation-fill:before {
  content: "\e936";
}
.icon-home:before {
  content: "\e94b";
}
.icon-new:before {
  content: "\e937";
}
