@import './colors.styl';

$font-family = 'Open Sans'
$font-weight = 400

$title-font-color = $neutral3
$title-font-size = 1em  

$data-label-color = $neutral3
$data-label-font-size = 1.1em

$axis-labels-color = $neutral3
$axis-labels-font-size = 1em

$legend-font-color = $neutral3
$legend-font-size = 0.9em

.highcharts-color-0
  fill $neutral3
  stroke $neutral3

.highcharts-color-1
  fill $highlight2
  stroke $highlight2

.highcharts-color-2
  fill darken($primaryColor, 20%)
  stroke darken($primaryColor, 20%)

.highcharts-color-3
  fill $btsnavy
  stroke $btsnavy

.highcharts-color-4
  fill darken($secondaryColor, 60%)
  stroke darken($secondaryColor, 60%)

.highcharts-color-5
  fill $highlight1
  stroke $highlight1

.highcharts-color-6
  fill $primaryColor
  stroke $primaryColor

.highcharts-color-7
  fill $secondaryColor
  stroke $secondaryColor

.highcharts-color-8
  fill darken($primaryColor, 60%)
  stroke darken($primaryColor, 60%)

.highcharts-color-9
  fill darken($highlight1, 40%)
  stroke darken($highlight1, 40%)

.highcharts-color-10
  fill darken($secondaryColor, 20%)
  stroke darken($secondaryColor, 20%)

.highcharts-container
    font-family $font-family
    font-size 14px

.highcharts-background
	fill transparent
	stroke transparent

.highcharts-title
    fill $title-font-color
    font-size $title-font-size
    font-weight $font-weight

.highcharts-data-label
    font-size $data-label-font-size
    font-weight $font-weight
    @media (max-width: 1024px)
      font-size 0.9em

.highcharts-data-label text, text.highcharts-data-label
    fill $data-label-color

.highcharts-axis-labels
    fill $axis-labels-color
    font-size $axis-labels-font-size

.highcharts-legend-item text
    fill $legend-font-color
    font-weight $font-weight
    font-size $legend-font-size

.pie-data-label.highcharts-data-label
    font-size 0.9em
    text
        fill $white

.metric-solid-guage
    path
        fill $highlight2
        stroke $highlight2
    .solid-guage-label.highcharts-data-label
        text
            font-size 15px
            font-family $font-family
    .dash-solid-guage-label.highcharts-data-label
        font-weight normal
        text
            font-size 20px
            fill $neutral4
  
.dashboard-metric-solid-gauge
    .highcharts-title
        fill $white
        font-weight 100
        font-size 14px
    .solid-gauge-label
        text
            fill $white
            font-weight 500
            font-size 14px
    .highcharts-pane-group
        path
            fill lighten($primaryColor, 50%)
            stroke lighten($primaryColor, 50%)
            fill-opacity: 0.5

.wide-dashboard-metric-solid-gauge
    .highcharts-title
        fill $neutral3
        font-weight 100
        font-size 14px
        font-family sans-serif
    .solid-gauge-label
        text
            fill $primaryColor
            font-weight 500
            font-size 19px
            font-family: sans-serif;
    .highcharts-pane-group
        path
            fill lighten($primaryColor, 50%)
            stroke lighten($primaryColor, 50%)
            fill-opacity: 0.5

.limited-dashboard-metric-solid-gauge
    .metric-solid-guage
        path
            fill $primaryColor
            stroke $primaryColor
    .highcharts-title
        fill $neutral3
        font-weight 100
        font-size 18px
        font-family sans-serif;
        // letter-spacing 2px
    .solid-gauge-label
        text
            fill $primaryColor
            font-weight 500
            font-size 25px
            font-family: sans-serif;
    .highcharts-pane-group
        path
            fill lighten($neutral2, 50%)
            stroke lighten($neutral2, 50%)
            fill-opacity: 0.5            

.products-metric-solid-gauge
    .highcharts-title
        fill $neutral3
        font-weight 100
        font-size 14px
    .solid-gauge-label
        text
            fill $neutral3
            font-weight 500
            font-size 14px
            margin-top: 10px
    .highcharts-pane-group
        path
            fill lighten($primaryColor, 50%)
            stroke lighten($primaryColor, 50%)
            fill-opacity: 0.5            

.income-statement-chart
    .highcharts-title
        font-weight 500
    .highcharts-data-label
        font-size 0.9em
        font-weight 500
        text
            fill $title-font-color
    .highcharts-series
        .highcharts-point
            stroke-width 5px

.product-metric-solid
    .highcharts-title
        font-weight 500
    .product-solid-gauge-label
        text
            fill $white
            font-weight 500
            font-size 34px    
    .highcharts-data-label
        font-size 0.9em
        font-weight 500
        text
            fill $title-font-color
    .highcharts-series
        .highcharts-point
            stroke-width 5px

/**********************************************/
.highcharts-container
    .highcharts-bar-series
        .highcharts-color-0
            fill green
            stroke green
        .highcharts-color-1
            fill #6d747e    
            stroke #6d747e    

.highcharts-data-labels
    .highcharts-data-label-color-0
        text
            color #ffffff

.highcharts-column-series
    .highcharts-color-0
        fill darkblue
        stroke darkblue
