@import '../../../styles/colors.styl'
.flex-container
    -o-display flex
    -moz-display flex
    -webkit-display flex
    display flex
    flex-flow row wrap
    justify-content: space-between;
  
.flex-container > *
    flex: 1 auto
    padding: 2px;
    
.carousel-table-bg
    background-color $neutral1
    padding: 10px 20px 10px 35px
    @media (max-width: 1024px)
        padding-right 30px
.carousel-table-bg, .carousel-table-no-bg
    .row-data
        line-height 20px
        .row-value
            padding 0 5px
            span
                font-size 15px
                color $neutral4
    .table
        margin-left: 30px
        margin-right: 30px            
            
.carousel-table-no-bg
    .row-data
        .row-value
            padding 0 5px
            span
                font-size 13px

tr:nth-child(even) 
    background-color: $neutral1;
.highlighted-value
    color $primaryColor
.metric-postitive
    color $metricPositive
    font-size 13px
.metric-negative
    color $metricNegative
    font-size 13px


