<div *ngIf="metricTableData">
  <!-- without carousel -->
  <div *ngIf="!metricTableData.withCarousel && !metricTableData.wideScreen">
    <div class="carousel-table carousel-table-no-bg">
      <div class="row row-data" *ngFor="let slideData of metricTableData.tableData[0].slideData">
        <div class="row-value" [ngClass]="[rowObject.colspanClass === undefined ? 'col' : rowObject.colspanClass, rowObject.textAlignClass === undefined ? 'text-left' : rowObject.textAlignClass]"
          *ngFor="let rowObject of slideData.rowData; let i = index;">
          <!-- {{rowObject.color | json}} -->
          <span [ngStyle]="{'color': rowObject.color}" [style.font-weight]="rowObject.fontWeight === undefined ? 100 : rowObject.fontWeight" [class.highlighted-value]="rowObject.isHighlighted">
            {{ rowObject.ref }}
            <i class="icon-up-indicator metric-postitive" *ngIf="rowObject.showPositiveBalloon"></i>
            <i class="icon-down-indicator metric-negative" *ngIf="rowObject.showNegativeBalloon"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- without carousel && wide screen -->
  <div *ngIf="!metricTableData.withCarousel && metricTableData.wideScreen">
    <div class="carousel-table carousel-table-no-bg">
      <div class="row row-data" *ngFor="let slideData of metricTableData.tableData[0].slideData">
          <table class="table">
            <tr *ngFor="let rowArray of slideData.rowData">
              <td *ngFor="let rowObject of rowArray">
                {{ rowObject.ref }}
                <i class="icon-up-indicator metric-postitive" *ngIf="rowObject.showPositiveBalloon"></i>
                <i class="icon-down-indicator metric-negative" *ngIf="rowObject.showNegativeBalloon"></i>
              </td>
            </tr>
          </table>
      </div>
    </div>
  </div>

  <!-- with carousel -->
  <div *ngIf="metricTableData.withCarousel">
    <carousel class="carousel-table" [interval]="false" [showIndicators]="false">
      <slide *ngFor="let tableData of metricTableData.tableData">
        <div class="carousel-table carousel-table-bg">
          <div class="row row-data" *ngFor="let slideData of tableData.slideData">
            <div class="row-value" [ngClass]="[rowObject.colspanClass === undefined ? 'col' : rowObject.colspanClass, rowObject.textAlignClass === undefined ? 'text-left' : rowObject.textAlignClass]"
              *ngFor="let rowObject of slideData.rowData; let i = index;">
              <span [style.font-weight]="rowObject.fontWeight === undefined ? 100 : rowObject.fontWeight" [class.highlighted-value]="rowObject.isHighlighted">
                {{ rowObject.ref }}
                <i class="icon-up-indicator metric-postitive" *ngIf="rowObject.showPositiveBalloon"></i>
                <i class="icon-down-indicator metric-negative" *ngIf="rowObject.showNegativeBalloon"></i>
              </span>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>