<div *ngIf="chartData">
  <div class="text-center">{{ chartData.chartTitle }}</div>
  <ism-chart [rangeRef]="chartData.rangeRef" [xAxis]="chartData.xAxis" [yAxis]="chartData.yAxis" [seriesOptions]="chartData.seriesOptions"
    [chartOptions]="chartData.chartOptions">
  </ism-chart>
</div>