<!--The whole content below can be removed with the new code.-->

<div class="wrapper">
  <div class="main-page ">
      <!-- Main routing entrypoint into views module -->
      <!-- This outlet is entrypoint into application level routes [Logout, Dashboard...] -->
      <router-outlet></router-outlet>
  </div>
</div>