
:host
    cursor pointer
    display inline-block
    height 100%
    width 100%
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
        height 50%
        width 100%
    .icon
        height 100%
        width 100%

    .tooltip-icon
        font-size 0.615vw
        text-align center
    .digitalICO
        height 100%
        width 100%
        display flex
        display -webkit-flex
        justify-content center 
        -webkit-justify-content center
        align-items center
        -webkit-align-items center
        font-size 0.615vw
        color transparent
