:host {
  cursor: pointer;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  :host {
    height: 10px;
    width: 10px;
    margin-right: 2px;
  }
}
:host .icon {
  height: 15px;
  width: 15px;
  margin-top: -8px;
}
:host .tooltip-icon {
  font-size: 0.615vw;
  text-align: center;
}
:host .digitalICO {
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 0.615vw;
  padding: 0.41vw;
}
