<!--<a href="#" [tooltip]="'Foo'" #tooltip='bs-tooltip' >Check me out!</a>-->

<div class="digitalICO fa fa-info" [tooltip]="tooltipText" tooltipAnimation="true" [placement]="tooltipPlacement"
    container="body" #tt="bs-tooltip"></div>
