@import '../../../styles/colors.styl' 
        
.page
    &-header
        background-color rgba(255, 185, 2, 1)
    &-content
        border 3px solid rgba(255, 185, 2, 1)
        .cust-col
            flex: 0 0 14%;
            max-width: 14%;
        .cust-header-col
            flex: 0 0 30%;
            max-width: 30%;
        .report
            &-row
                .chart
                    &-title
                        color #666