@import '../../../styles/colors.styl'

*:focus 
    outline: 0 !important;

.flex-container
    display flex
    display -webkit-flex 
.flex-space-around
    justify-content: space-around
    margin-bottom 6%
.wobbler
    position relative
    z-index: 100;
    perspective: 1000px;
    p
        font-size: 35px
        text-align: center
        color $primaryColor
        font-weight: 200;
    .wobbler-section, .font, .back
        position absolute
        top 5%
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: $white
        width: 90%;
        padding: 20px 
        padding-bottom: 75px
        transition: 0.6s;
        .wobbler-content
            > div
                flex 1
                color $neutral3    
            .content-left
                padding: 10px  
            .content-right
                height: 450px;
                overflow: auto;
                background: $neutral1;
                padding: 30px;
                border: 1px solid transparent
                div 
                    margin-bottom: 12px;
                .select-btn 
                    border: 5px solid $primaryColor;
                    width: 40px;
                    border-radius: 50px;
                    height: 40px;
                    margin-right: 12px
                    position relative
                    cursor pointer
                    .active-btn 
                        width: 15px;
                        height: 15px;
                        border-radius: 50px;
                        background: $primaryColor;
                        position: absolute;
                        left: 7px;
                        top: 7px;  
                .options
                    > div:nth-child(2)
                        cursor pointer
        button 
            font-weight: 500;
            font-size: 19px;
            padding: 10px 35px;
            border-radius: 0px 0px 10px 10px;
            border:none
            cursor pointer
            width: 100% 
            i.icon-expand-arrow
                font-size: 15px;
        .std-btn 
            background: linear-gradient(#ccf2ff, #99e6ff);  
            color: $neutral2
            color: $white
            pointer-events: none;
        .active-btn 
            background: $buttonGradient;
            color: $white;  

/* flip speed goes here */
.flipper
	transform-style: preserve-3d	

/* hide back of pane during swap */
.front, .back 
	backface-visibility: hidden

/* front pane, placed above back */
.front 
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(-0deg);

/* back, initially hidden pane */
.back 
    width: 100% !important
    left: 0px !important
    transform: rotateY(-180deg)
    padding: 0px 15px
    .review-decision 
        // background: #f2f2f2;
        // border-radius: 50px 50px 0px 0px;
        display: flex;
        flex-direction: column;
        margin-top: -37px;
        position relative
        .header
            justify-content: space-between;
            margin: 0;   
            .header-title
                color: $white;
                display: flex;
                align-items: flex-end;
                color: $primaryColor;
                font-size: 34px;
                font-weight: 300;  
            .header-button
                display: flex;
                align-items: flex-end;  
                min-width: 18%;  
                border-radius: 5px 5px 0px 0px; 
                cursor pointer
                .search-tab 
                    background: #d9d9d9
                    padding: 7px 15px;
                    border-radius: 5px 5px 0px 0px;
                    position relative
                    width: 100%
                    .search-text
                        font-size: 20px;
                        font-weight: 400;
                        display: flex;
                        align-items: flex-end;
                        color: $white 
                        margin-left: 10px;
                        transition: all 0.5s ease-in-out;
                    .search-icon
                        color: $white
                        display: flex;
                        align-items: center; 
                        transition: all 0.5s ease-in-out;     
                    i.icon-search-01
                        font-size: 19px;
                .search-tab:hover 
                        background: $neutral4        
                .search-tab-close
                    width: 100%
                    background: $white 
                    padding: 7px 15px;
                    border-radius: 5px 5px 0px 0px;
                    position relative
                    border: 2px solid $primaryColor;
                    border-bottom: 0px solid $white;
                    color: $primaryColor 
                    .search-text
                        font-size: 20px;
                        font-weight: 400;
                        display: flex;
                        align-items: flex-end;
                        color: $primaryColor
                        margin-left: 10px;
                        transition: all 0.5s ease-in-out; 
                    .search-icon
                        // color: $primaryColor
                        display: flex;
                        align-items: center;
                        transition: all 0.5s ease-in-out;      
                    i.icon-search-01
                        font-size: 19px;
                    .white-divider
                        position: absolute;
                        top: 40px;
                        right: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        border: 3px solid $white;
                        width: 100%;
                        z-index: 100;    
                .switch-search-btn
                    visibility hidden
                    opacity 0
                    position absolute         
        .review-pages-container
            height 600px 
            border: 2px solid $primaryColor;
            .article 
                margin: 0 auto;
                width: calc(100% - 6px);
                text-align: justify;
                padding-bottom: 46px;
                padding-top: 20px;  
                // border: 2px solid $primaryColor
                border-bottom: none;
                background: $neutral1
                position: absolute;
                top: 0px;
                margin-top: auto;
                visibility hidden
                opacity:0
                transition: all 500ms ease;
                .article-container
                    width: 85%;
                    margin: 0 auto;
                    color: $neutral3
                    .article-title
                        font-size: 21px;
                        text-align: center;
                        font-weight: 500;
                    .article-selected-text
                        display:flex
                        align-items: baseline;
                        margin-bottom: 15px;
                        .article-selected-text-label
                            font-size: 28px;
                            font-weight: 600;
                            padding-right: 8px;
                            color: $primaryColor
                        .article-selected-text-title
                            font-size: 21px;
                            font-weight: 300;
                    .article-option-des
                        font-size: 18px;
            .switch-article
                visibility visible
                opacity 1 
                top 54px              
            .final-review         
                background: $white;
                // border: 2px solid $primaryColor
                height: 300px;
                position: absolute;
                width: calc(100% - 6px);
                bottom: 0;
                margin-bottom: auto;
                visibility hidden
                opacity:0
                transition: all 500ms ease;
                .final-review-container
                    padding: 44px 0px 0 0;
                    font-size: 18px;
                    overflow-y: scroll;
                    height: 600px;
                    // position: relative;
                    .final-review-des
                        width: 80%;
                        margin: 0 auto;
                        color: $neutral3
                    .final-review-title
                        font-size: 20px;
                        font-weight: 500;
                        color: $neutral4;    
                    .final-review-static-container
                        background: #eff0f1;
                        margin-top: 50px;   
                        .final-review-option-container
                            width: 80%;
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;  
                            position: relative;
                            top: -30px;
                            .final-review-option
                                width: fit-content;
                                border: 2px solid gray;
                                padding: 10px 20px;
                                border-radius: 50px;
                                margin: 6px;
                                color: #b3b3b3;  
                                cursor pointer
                                z-index: 1;
                                background: $white
                                display: flex;
                                align-items: center;
                                i.icon-recent-activity-complete
                                    margin-right: 4px;
                                    > *:hover
                                        border: none;
                                        box-shadow: none; 
                                &:hover
                                    border: 2px solid $secondaryColor;        
                                    color: $secondaryColor;  
                                    box-shadow: inset $secondaryColor 0px 0px 0px 1px        
                            .active-option
                                background: $secondaryColor 
                                color: $white
                                box-shadow: 0px 3px 6px 1px $neutral3
                                border: $secondaryColor 
                                &:hover
                                    border: none;
                                    box-shadow: 0px 3px 6px 1px $neutral3;
                                    color: $white             
                        .final-review-content
                            .final-review-content-selection
                                width: 60%;
                                margin: 0 auto  
                                padding: 0px 0px 40px 0px; 
                                .final-review-content-selection-title
                                    font-size: 1.8rem;
                                    font-weight: 400;
                                    &::first-letter
                                        font-weight: 400
                                .final-review-content-selection-content
                                    color: $neutral3
                    .final-review-feedback
                        background: $neutral4;
                        padding: 15px 0px 8px 0px;
                        position: relative;
                        // bottom: -10%;
                        .final-review-feedback-title
                            color: $white;
                            font-size: 1.3rem;
                            font-weight: bolder; 
                        .final-review-feedback-content
                            width: 60%;
                            margin: 0 auto;
                            padding: 10px 0px;
                            color: $white;                  
            .switch-final-review
                visibility visible
                opacity 1
                bottom: 51%;  

    .continue-btn 
        font-size 25px !important;                
        padding 16px !important;
        color $white;
        background $primaryGradient;
        z-index 100 
        &:hover
            background $primaryGradientdark
                 
    button 
        // border-radius: 50px;
        // background: linear-gradient(#80ccff, #0099ff);
        // border: none;
        // color: $white;
        // right: 45% !important;  
        // bottom: 10px !important; 
        // cursor pointer   
        // // padding: 10px !important;
        // font-weight: 400 !important; 
        // box-shadow: 0px 3px 5px #b3b3b3;
        i.icon-forward-arrow-fill 
            margin-left: 34px;
            font-size: 20px;




                                     