<div class="wobbler flip-container" *ngIf="showWobbler && wobblerData">
  <img src="{{wobblerData.background}}" width="100" style="width: 100%">
  <div class="wobbler-section flipper">
    <div class="front">
      <p>{{wobblerData.title}}</p>
      <div class="wobbler-content flex-container">
        <div class="content-left">{{wobblerData.description}}</div>
        <div>
          <div class="content-right" *ngIf="wobblerData.options">
            <ng-template ngFor let-data [ngForOf]="wobblerData.options" let-i="index">
              <div class="row flex-space-around" [style.margin-bottom]="(wobblerData.options.length-1) === i ? '0px' : ''">
                <div class="col-lg-1">
                  <div (click)="selectOption(i)" class="row select-btn">
                    <div [ngClass]="{'active-btn': data.active}"></div>
                  </div>
                </div>
                <div class="col-lg-11 options row">
                  <h3 [innerHtml]="data.title"></h3>
                  <div (click)="selectOption(i)">{{data.desc}}</div>
                </div>
              </div>
            </ng-template>
          </div>
          <button [ngClass]="{'active-btn': activeBtn, 'std-btn': !activeBtn}" (click)="submit()">Submit <i class="icon-expand-arrow"></i></button>
        </div>

      </div>


    </div>
    <div class="back">
      <div class="review-decision">
        <!-- Header Bar-->
        <div class="row header">
          <div class="header-title">
            <div>{{wobblerData.title}}</div>
          </div>

          <div class="header-button">

            <div class="search-tab flex-container" [ngClass]="{'switch-search-btn':!reviewBtnSwitch}" (click)="reviewDecision()">
              <div class="search-icon" [ngClass]="{'switch-search-btn':!reviewBtnSwitch}"><i class="icon-search-01"></i></div>
              <div class="search-text" [ngClass]="{'switch-search-btn':!reviewBtnSwitch}">{{wobblerData.reviewBtntext}}</div>
            </div>

            <div class="search-tab-close flex-container" [ngClass]="{'switch-search-btn':reviewBtnSwitch}" (click)="reviewDecision()">
              <div class="search-icon" [ngClass]="{'switch-search-btn':reviewBtnSwitch}"><i class="icon-close"></i></div>
              <div class="search-text" [ngClass]="{'switch-search-btn':reviewBtnSwitch}">{{wobblerData.closeReviewBtnBtn}}</div>
              <div class="white-divider"></div>
            </div>

          </div>
        </div>
        <!--Header Bar End-->

        <div class="review-pages-container">
          <div class="article" [ngClass]="{'switch-article':reviewBtnSwitch}">
            <div class="article-container">
              <div class="article-title">Feedback</div>
              <div class="article-selected-text">
                <div class="article-selected-text-label">You Selected: </div>
                <div class="article-selected-text-title" *ngIf="reviewedData"><span [innerHtml]="reviewedData.title"></span></div>
              </div>
              <div class="article-option-des" [innerHtml]="wobblerData.feedbackOne"></div>
            </div>
          </div>
          <!-- Final Review Decision -->
          <div class="final-review" [ngClass]="{'switch-final-review':!reviewBtnSwitch}">
            <div class="final-review-container">
              <div class="final-review-des" [innerHtml]="wobblerData.feedbackTwo"></div>
              <p class="final-review-title">Review your options</p>

              <div class="final-review-static-container">
                <div class="final-review-option-container">
                  <ng-template ngFor let-option [ngForOf]="wobblerData.options" let-index="index">
                    <div class="final-review-option" [ngClass]="{'active-option':option.reviewOptionActive}" (click)="reviewSelectOption(index)">
                      <i [ngClass]="{'icon-recent-activity-complete':option.active }"></i>
                      <span [innerHtml]="option.title"></span>
                    </div>
                  </ng-template>
                </div>
                <div class="final-review-content">

                  <div class="final-review-content-selection" *ngIf="!newReviewData && reviewedData">
                    <p class="final-review-content-selection-title"><span [innerHtml]="reviewedData.title"></span></p>
                    <div class="final-review-content-selection-content">{{reviewedData.desc}}</div>
                  </div>

                  <div class="final-review-content-selection" *ngIf="newReviewData">
                    <p class="final-review-content-selection-title"><span [innerHtml]="newReviewData.title"></span></p>
                    <div class="final-review-content-selection-content">{{newReviewData.desc}}</div>
                  </div>

                </div>

              </div>
              <div class="final-review-feedback">
                <p class="final-review-feedback-title">Feedback</p>
                <div class="final-review-feedback-content"><span [innerHtml]="wobblerData.feedbackThree"></span></div>
              </div>
            </div>
          </div>
          <!-- Final Review Decision End -->
        </div>


        <button class="continue-btn" (click)="decisionSubmit()">Continue <i class="icon-expand-arrow"></i></button>
      </div>
    </div>
  </div>
</div>