<div class="dashboard-container col-12 pad-0">
  <div class="dashboard-wrapper col-11 pad-0">
    <!--Desktop and ipad landscape-->
    <div class="menu-logo-contianer col-12 pad-0 desktop-view">
      <div class="reset-sign sign-icon" (click)="resetSim()">
        <i class="fa fa-undo"></i>
        <isma-tooltip tooltipText="Reset" tooltipPlacement="bottom"></isma-tooltip>
      </div>
      <div class="hamburger-sign sign-icon" (click)="onLogoutClicked()">
        <i class="fa fa-sign-out"></i>
        <isma-tooltip class="tooltip-comp" tooltipText="Logout" tooltipPlacement="bottom"></isma-tooltip>
      </div>
    </div>

    <!--Ipad portrait and mobile-->
    <div class="menu-logo-contianer col-12 pad-0 mobile-view">
      <div class="header-1 col-12 pad-0">
        <div class="logo-title-container">
          <div class="logo">
            <img src="./../../assets/images/microsoft.png">
          </div>
          <div class="solution-name">
            <ism-text-output key="Title"></ism-text-output>
          </div>
        </div>
        <div class="menu-container">
          <div class="reset-sign sign-icon" (click)="resetSim()">
            <i class="fa fa-undo"></i>
          </div>
          <div class="hamburger-sign sign-icon" (click)="onLogoutClicked()">
            <i class="fa fa-sign-out"></i>
          </div>
        </div>
      </div>
      <div class="header-2 col-12 pad-0">
        <div class="gauge-container">
          <div class="gauge-title">
            <ism-calc-output ref="tlOutput_E3_tlScen1"></ism-calc-output>
          </div>
          <div class="gauge-value">
            <ism-calc-output *ngIf="getActiveURLKPI(0)" ref="tlOutput_G3_tlScen1" format="$0.00a"></ism-calc-output>
            <ism-calc-output *ngIf="getActiveURLKPI(1)" ref="tlOutput_G3_tlScen2" format="$0.00a"></ism-calc-output>
            <ism-calc-output *ngIf="getActiveURLKPI(2)" ref="tlOutput_G3_tlScen3" format="$0.00a"></ism-calc-output>
            <ism-calc-output *ngIf="getActiveURLKPI(3)" ref="tlOutput_G3_tlScen4" format="$0.00a"></ism-calc-output>
          </div>
        </div>
        <div class="gauge-growth-value">
          <span>(</span>
          <ism-calc-output *ngIf="getActiveURLKPI(0)" ref="tlOutput_I3_tlScen1"></ism-calc-output>
          <ism-calc-output *ngIf="getActiveURLKPI(1)" ref="tlOutput_I3_tlScen2"></ism-calc-output>
          <ism-calc-output *ngIf="getActiveURLKPI(2)" ref="tlOutput_I3_tlScen3"></ism-calc-output>
          <ism-calc-output *ngIf="getActiveURLKPI(3)" ref="tlOutput_I3_tlScen4"></ism-calc-output>
          <span>)</span>
        </div>
      </div>
    </div>

    <div class="dashboard-content col-12 row marg-0 pad-0">
      <div class="page-container col-9 pad-0 row marg-0">
        <div class="backward-arrow custom-col-1 arrow" [class.disableFlag]="disableBackwardFlag"
          (click)="onBackwardClicked()">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="router-container custom-col-2" [@routerAnimation]="getRouteAnimation(router)">
          <router-outlet #router="outlet"></router-outlet>
        </div>
        <div class="forward-arrow custom-col-1 arrow" [class.disableFlag]="disableForwardFlag"
          (click)="onForwardClicked()">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>

      <!--Desktop and ipad landscape tabs view-->
      <div class="dashboard-tab-container col-3 desktop-view">
        <div class="logo-score-container vert-container col-12 pad-0">
          <div class="logo-title-container">
            <div class="logo">
              <img src="./../../assets/images/microsoft.png">
            </div>
            <div class="solution-name">
              <ism-text-output key="Title"></ism-text-output>
            </div>
          </div>
          <div class="gauge-container">
            <div class="gauge-title">
              <ism-calc-output ref="tlOutput_E3_tlScen1"></ism-calc-output>
            </div>
            <div class="gauge-value">
              <ism-calc-output *ngIf="getActiveURLKPI(0)" ref="tlOutput_G3_tlScen1" format="$0.00a"></ism-calc-output>
              <ism-calc-output *ngIf="getActiveURLKPI(1)" ref="tlOutput_G3_tlScen2" format="$0.00a"></ism-calc-output>
              <ism-calc-output *ngIf="getActiveURLKPI(2)" ref="tlOutput_G3_tlScen3" format="$0.00a"></ism-calc-output>
              <ism-calc-output *ngIf="getActiveURLKPI(3)" ref="tlOutput_G3_tlScen4" format="$0.00a"></ism-calc-output>
            </div>
            <div class="gauge-growth-value">
              <span style="margin-right: -5px;">(</span>
              <ism-calc-output *ngIf="getActiveURLKPI(0)" ref="tlOutput_I3_tlScen1"></ism-calc-output>
              <ism-calc-output *ngIf="getActiveURLKPI(1)" ref="tlOutput_I3_tlScen2"></ism-calc-output>
              <ism-calc-output *ngIf="getActiveURLKPI(2)" ref="tlOutput_I3_tlScen3"></ism-calc-output>
              <ism-calc-output *ngIf="getActiveURLKPI(3)" ref="tlOutput_I3_tlScen4"></ism-calc-output>
              <span style="margin-left: -5px;">)</span>
            </div>
          </div>
        </div>
        <div class="dashboard-tab-links-cont vert-container col-12 pad-0">
          <div class="dasboard-tab-row col-12 row pad-0 marg-0">
            <div class="dashboard-tab-link col-6 pad-0">
              <div class="feature tab-container col-12 pad-0"
                [class.disableTabs]="!tabStatusArray[dashboardEnumRef.FIRST_TAB]"
                [class.active]="activeIndex == dashboardEnumRef.FIRST_TAB"
                (click)="onTabClicked(dashboardEnumRef.FIRST_TAB)">
                <div class="dashboard-tab-link-icon feature-icon">
                  <img src="./../../assets/icons/feature.svg">
                </div>
                <div class="dashboard-tab-link-text">
                  <ism-text-output key="Tab1Text"></ism-text-output>
                </div>
              </div>
            </div>
            <div class="dashboard-tab-link col-6 pad-0">
              <div class="marketing tab-container col-12 pad-0"
                [class.disableTabs]="!tabStatusArray[dashboardEnumRef.SECOND_TAB]"
                [class.active]="activeIndex == dashboardEnumRef.SECOND_TAB"
                (click)="onTabClicked(dashboardEnumRef.SECOND_TAB)">
                <div class="dashboard-tab-link-icon marketing-icon">
                  <img src="./../../assets/icons/marketing.svg">
                </div>
                <div class="dashboard-tab-link-text">
                  <ism-text-output key="Tab2Text"></ism-text-output>
                </div>
              </div>
            </div>
          </div>
          <div class="dasboard-tab-row col-12 row pad-0 marg-0">
            <div class="dashboard-tab-link col-6 pad-0">
              <div class="sales tab-container col-12 pad-0"
                [class.disableTabs]="!tabStatusArray[dashboardEnumRef.THIRD_TAB]"
                [class.active]="activeIndex == dashboardEnumRef.THIRD_TAB"
                (click)="onTabClicked(dashboardEnumRef.THIRD_TAB)">
                <div class="dashboard-tab-link-icon sales-icon">
                  <img src="./../../assets/icons/sales.svg">
                </div>
                <div class="dashboard-tab-link-text">
                  <ism-text-output key="Tab3Text"></ism-text-output>
                </div>
              </div>
            </div>
            <div class="dashboard-tab-link col-6 pad-0">
              <div class="migration tab-container col-12 pad-0"
                [class.disableTabs]="!tabStatusArray[dashboardEnumRef.FOURTH_TAB]"
                [class.active]="activeIndex == dashboardEnumRef.FOURTH_TAB"
                (click)="onTabClicked(dashboardEnumRef.FOURTH_TAB)">
                <div class="dashboard-tab-link-icon migration-icon">
                  <img src="./../../assets/icons/migration.svg">
                </div>
                <div class="dashboard-tab-link-text">
                  <ism-text-output key="Tab4Text"></ism-text-output>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="showResetModel" bsModal #resetModal="bs-modal" class="modal reset-modal fade" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: 'static', 'keyboard': false}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <ism-text-output key="ResetText"></ism-text-output>
      </div>
      <div class="modal-footer">
        <button class="modal-btn" (click)="resetSim()">
          <ism-text-output key="Ok"></ism-text-output>
        </button>
        <button class="modal-btn" (click)="onResetSimClosedClicked()">
          <ism-text-output key="Cancel"></ism-text-output>
        </button>
      </div>
    </div>
  </div>
</div> -->

<div bsModal *ngIf="showCalcDebugger" #calcDebuggerModal="bs-modal" class="modal debugger-modal fade" tabindex="-1"
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static', 'keyboard': false}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <ism-text-output key="Calc Debugger"></ism-text-output>
        </h4>
        <span class="close fa fa-close" (click)="hideCalcDebuggerModal()"></span>
      </div>
      <div class="modal-body">
        <ism-calc-debugger></ism-calc-debugger>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showLogoutModel" bsModal #logOutModal="bs-modal" class="modal logout-modal fade" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: 'static', 'keyboard': false}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ism-text-output key="LogoutTitle"></ism-text-output>
      </div>
      <div class="modal-body">
        <ism-text-output key="LogoutText"></ism-text-output>
      </div>
      <div class="modal-footer">
        <button class="modal-btn" (click)="logout()">
          <ism-text-output key="Ok"></ism-text-output>
        </button>
        <button class="modal-btn" (click)="onLogoutClosedClicked()">
          <ism-text-output key="Cancel"></ism-text-output>
        </button>
      </div>
    </div>
  </div>
</div>