@import '../../../styles/colors.styl'

@keyframes fade 
  from 
    opacity 0
    visibility hidden
    transform translateY(0px)
  to  
    opacity 1
    visibility visible
    transform translateY(10px)

.reset-modal, .logout-modal
   .modal-dialog
        height 100%
        margin auto
        display flex
        justify-content center
        align-items center
        .modal-content
            width 80%
            border none
            border-radius 0
            .modal-header
                align-items center
                justify-content center
                font-weight 700
                border-bottom unset
                padding 20px 10px 0px
            .modal-body
                display flex
                justify-content center
                align-items center
            .modal-footer
                padding 0
                width 100%
            .modal-btn
                width 50%
                margin 0
                cursor pointer
                background #ccc
                border unset
                padding 15px
                text-transform capitalize
                &:last-child
                    border-left 1px solid white
                &:hover
                    background #6b6a6add
                    color white

.debugger-modal
    .modal-dialog
        height 100%
        margin auto
        display flex
        justify-content center
        align-items center

.disableFlag
    pointer-events none 
    color #666 !important

.sign-icon
    position relative 
    isma-tooltip
        position absolute
        top 0
        left 0

@media only screen and (min-width : 992px)
    .dashboard
        &-wrapper 
            height 95%
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
        &-container
            height 100%
            position relative
            .menu-logo-contianer
                text-align right
                height 5%
                display flex
                justify-content flex-end
                align-items center
                .sign-icon
                    font-size 1.625rem
                    line-height 1.625rem
                    cursor pointer
                    margin 0 0 0 20px
                .hamburger-menu
                    position relative
                    .menu
                        position absolute
                        padding 15px
                        background-color darkGray
                        color #FFF
                        right 0
                        z-index 1
                        cursor pointer
                        animation fade 1s linear forwards
        &-content
            overflow hidden
            height 95%
            .page-container
                background-color rgba(15, 12, 12, 0.85)
                display flex
                height 100%
                padding 20px 0
                .custom-col-1
                    flex 0 0 5%
                    max-width 5%
                .custom-col-2
                    flex 0 0 90%
                    max-width 90%
                .arrow
                    color white
                    display flex
                    align-items center
                    justify-content center
                    font-size 3rem
                    font-weight 700
                    cursor pointer
        &-tab
            &-container
                background-color rgba(15, 12, 12, 0.75)
                padding 25px 15px
                color #FFFFFF
                height 100%
                overflow hidden
                font-weight 700
                font-style normal
                .vert-container
                    height 50%
                .logo-score-container
                    display flex
                    flex-direction column
                    justify-content space-between    
                .logo-title-container
                    .logo
                        height 3rem
                        img
                            height 100%
                    .solution-name
                        font-size 1.5rem
                        line-height 1.5rem
                    .logo, .solution-name
                        margin-bottom 10px

                .gauge-container
                    .gauge-title
                        font-size 1.25rem
                        line-height 1.25rem
                        margin-bottom 10px
                    .gauge-value
                        font-size 3.125rem
                        line-height 3.125rem
                        text-transform uppercase
                        margin-bottom 25px
                    .gauge-growth-value
                        font-weight 400
                        font-size 1.75rem
                        line-height 1.75rem
                        margin-bottom 20px

                .dashboard-tab-links-cont
                    .dasboard-tab-row
                        height 50%
                        &:first-child
                            padding-bottom 5px
                        &:last-child
                            padding-top 5px
                        .dashboard-tab-link
                            &:first-child
                                padding-right 5px
                            &:last-child
                                padding-left 5px
                            .tab-container
                                padding 10px 15px;
                                height 100%;
                                display flex
                                flex-direction column
                                justify-content center
                                cursor pointer
                            .active
                                border 3px solid #FFFFFF
                                .dashboard-tab-link-text
                                    font-size 1.125rem
                                    line-height 1.125rem
                                    font-weight bold

                            .feature
                                background-color rgba(215, 58, 1, 1)    
                                &.active
                                    background -webkit-linear-gradient(315deg, rgba(216, 59, 1, 1) 0%, rgba(107, 41, 41, 1) 100%)
                                    background -moz-linear-gradient(135deg, rgba(216, 59, 1, 1) 0%, rgba(107, 41, 41, 1) 100%)
                                    background linear-gradient(135deg, rgba(216, 59, 1, 1) 0%, rgba(107, 41, 41, 1) 100%)                                    
                            .marketing
                                background-color rgba(128, 186, 1, 1)
                                &.active
                                    background -webkit-linear-gradient(317.717754962592deg, rgba(128, 186, 1, 1) 8%, rgba(5, 74, 21, 1) 112%)
                                    background -moz-linear-gradient(132.282245037408deg, rgba(128, 186, 1, 1) 8%, rgba(5, 74, 21, 1) 112%)
                                    background linear-gradient(132.282245037408deg, rgba(128, 186, 1, 1) 8%, rgba(5, 74, 21, 1) 112%)
                            .sales
                                background-color rgba(2, 164, 239, 1)
                                &.active
                                    background -webkit-linear-gradient(315.591912433281deg, rgba(2, 164, 239, 1) 6%, rgba(35, 57, 94, 1) 100%)
                                    background -moz-linear-gradient(134.408087566719deg, rgba(2, 164, 239, 1) 6%, rgba(35, 57, 94, 1) 100%)
                                    background linear-gradient(134.408087566719deg, rgba(2, 164, 239, 1) 6%, rgba(35, 57, 94, 1) 100%)
                            .migration
                                background-color rgba(255, 185, 2, 1)
                                &.active
                                    background -webkit-linear-gradient(324.26330921591deg, rgba(255, 185, 2, 1) 6%, rgba(106, 74, 21, 1) 94%)
                                    background -moz-linear-gradient(125.73669078409deg, rgba(255, 185, 2, 1) 6%, rgba(106, 74, 21, 1) 94%)
                                    background linear-gradient(125.73669078409deg, rgba(255, 185, 2, 1) 6%, rgba(106, 74, 21, 1) 94%)
                                    
                            .dashboard-tab-link-icon
                                margin-bottom 10px
                                height 3.75rem
                                img
                                    height 100%
                            .dashboard-tab-link-text
                                font-size 1.0625rem
                                line-height 1.0625rem
                                font-weight normal

    .disableTabs
        opacity 0.6
        pointer-events none


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
    .tooltip-comp
        display none !important

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
    .dashboard-container
        height 100%
        .dashboard-wrapper 
            padding 1.25rem
            height 100%
            flex 0 0 100%
            max-width 100%
            .menu-logo-contianer 
                height 15%
                .header-1, .header-2
                    display flex
                    justify-content space-between
                    height 50%
                .logo-title-container
                    height 100%
                    .logo
                        height 50%
                        img 
                            height 100%
                    .solution-name
                        font-size 1.5625rem
                        line-height 1.25rem
                        margin-top 0.9375rem
                        color white
                        font-weight 700
                .menu-container
                    height 100%
                    display flex
                    padding-top 0.9375rem
                    .reset-sign
                        margin-right 1.25rem
                    .sign-icon
                        color white
                        font-size 1.75rem
                        line-height 1.75rem
                        font-weight 700
                    .hamburger-menu
                        position relative
                        .menu
                            position absolute
                            padding 0.9375rem
                            background-color darkGray
                            color #FFF
                            right 0
                            z-index 1
                            margin-top 0.625rem
                .header-2
                    color white
                    .gauge-container
                        display flex
                        flex-direction column
                        justify-content flex-end
                        .gauge-title
                            font-size 0.9375rem
                            line-height 0.9375rem
                            margin-bottom 0.625rem
                            font-weight 600
                        .gauge-value
                            font-size 1.75rem
                            line-height 1.75rem
                            font-weight 700
                    .gauge-growth-value
                        display flex
                        align-items center
                        font-size 1.125rem
                        line-height 1.125rem

            .dashboard-content
                height 85%
                .page-container
                    flex 0 0 100%
                    max-width 100%
                    padding 1.25rem 0 0 0
                    height 100%

                    
@media only screen and (min-device-width: 320px) and (max-device-width: 736px)
    .dashboard-container
        height 100%
        .dashboard-wrapper 
            height 100%
            flex 0 0 100%
            max-width 100%
            .dashboard-content
                height 85%
                padding 0 10px 10px
                .page-container
                    flex 0 0 100%
                    max-width 100%
                    height 100%
            .menu-logo-contianer 
                height 15%
                padding 10px 10px 2px
                .header-1
                    display flex
                    justify-content space-between
                    height 50%
                .logo-title-container
                    height 100%
                    .logo
                        height 50%
                        img 
                            height 100%
                    .solution-name
                        font-size 1.0625rem
                        line-height 1.0625rem
                        margin-top 0.3125rem
                        color white
                        font-weight 700
                .menu-container
                    height 100%
                    display flex
                    margin-top 0.3125rem
                    .reset-sign
                        margin-right 0.625rem
                    .sign-icon
                        color white
                        font-size 1.125rem
                        line-height 1.125rem
                        font-weight 700
                    .hamburger-menu
                        position relative
                        .menu
                            position absolute
                            padding 0.9375rem
                            background-color darkGray
                            color #FFF
                            right 0
                            z-index 1
                .header-2
                    display flex
                    justify-content space-between
                    height 50%
                    color white
                    .gauge-container
                        display flex
                        flex-direction column
                        justify-content flex-end
                        .gauge-title
                            font-size 0.75rem
                            line-height 0.75rem
                            font-weight 600
                        .gauge-value
                            font-size 1.375rem
                            line-height 1.375rem
                            font-weight 700
                    .gauge-growth-value
                        display flex
                        align-items center
                        font-size 0.875rem
                        line-height 0.875rem