@import '../../../styles/colors.styl'

.toogle-section 
    box-sizing: border-box
    padding: 0 0 20px 0   
    a>.accr-standard_h3
        display: table-cell
        border-bottom: 2px solid $secondaryColor;
        color: $neutral3
    a:hover
        text-decoration: none
        color: $neutral3                
    span
        .accor-icon
            float right
            cursor pointer
            // color $white
    .toggle-button
            border 1px solid
            border-radius 50%
            border-color $neutral3
            background $neutral3  
            // color $white
            padding 8px
            cursor pointer
            box-sizing border-box  
            
    .toggle-on 
            border-color $neutral3
            background $neutral3 
            transition all 100ms ease-in  
            color $white
    .toggle-off
            border-color $neutral2
            background $white
            color: $neutral2  
            transition all 100ms ease-out  
            &:hover
                border: 1px solid $btsred
                color: $btsred
                box-shadow: 0px 0px 0px 2px $btsred inset;

.show 
    // display: contents
    overflow hidden    
    opacity: 1;
    height: auto
.hide
    // display: none   
    transition: opacity 1s ease-out
    opacity: 0; 
    height: 0;
    overflow: hidden

.accr-wide 
    margin: 10px 2px;             
    .accr-wide_h3  
        background $secondaryColor
        padding 5px 20px 8px 20px
        border-radius 50px
        color $white
        display inline-block
        box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        cursor pointer
        a
            color $white
        a:hover
            text-decoration: none
            color: $neutral3 
        .icon-action-arrow
            color $white
            vertical-align middle
    .accr-wide_h3:hover
         transition: ease-in-out 0.5s  
         box-shadow: none        
         

