<div class="container accr-container">
  <div class="toogle-section" [ngClass]="accorType === 'wide' ? 'accr-wide' : ''">

    <a routerLink="{{accorData.route}}" href="#">
      <h3 [ngClass]="accorType === 'wide' ? 'accr-wide_h3' : 'accr-standard_h3'">
        <ism-text-output key="{{accorData.titleRef}}"></ism-text-output>
        <i *ngIf="accorType === 'wide'" class="icon-action-arrow"></i>
      </h3>
    </a>

    <span>
      <i class="accor-icon toggle-button" #icon (click)="openAccordian(accorData)" [ngClass]="[(accorData.icon ? accorData.icon : 'icon-market-update'),(accorData.isOpen ? 'toggle-on' : 'toggle-off')]"></i>
    </span>
  </div>
  <div class="rotate toggle" #toggle [ngClass]="accorData.isOpen || accorData.isOpen == undefined ? 'show' : 'hide'">
    <ng-content></ng-content>
  </div>
</div>