
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}

textarea {
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

::-webkit-input-placeholder {
    color: #8e8d8d;
    font-weight: 100;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #8e8d8d;
    font-weight: 100;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #8e8d8d;
    font-weight: 100;
}

:-ms-input-placeholder {
    color: #8e8d8d;
    font-weight: 100;
}

a {
    color: #28324b;
}

.cancelLink {
    background-color: #ff4f35;
    height: 20px;
    text-decoration: none;
    padding: 0 10px;
    line-height: 22px;
    float: left;
    font-family: arial;
    font-size: 13px;
}

.selfregister {
    float: left;
    text-decoration: underline;
    cursor: pointer;
}

h2 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 20px;
}

.login_header,
.exp_header {
    background: #000;
    font-size: 14px;
    padding: 15px;
    color: #fff;
}

#loginBox p.notice {
    padding: 0 0 5px 0;
    font-size: 14px;
    color: #28324b;
}

#registration #userloginDiv {
    padding: 15px 0;
    font-size: 14px;
}

#registration #userloginDiv p {
    margin-top: 0;
    margin-bottom: 0;
}

#RegistrationDiv #password {
    margin: 10px 0;
}

#RegistrationDiv span {
    font-size: 14px;
}

#RegistrationDiv #save {
    float: right;
}

.userNameIcon,
.passwordIcon {
    float: left;
    padding: 0px;
    height: 42px;
    width: 42px;
    background-color: #0ab9f0;
}

.appIcon,
.eventIcon {
    margin-bottom: 5px;
}

.appIconLabel,
.eventIconLabel {
    color: #28324b;
}

.userNameIcon svg,
.passwordIcon svg {
    fill: #fff;
}

.userNamePasswordWrapper {
    width: 100%;
    color: #fff;
    font-size: 18px;
    display:flex;
    flex-direction:column;
}

.userNameWrapper,
.passwordWrapper {
    display: inline-block;
    position: relative;
}

.userNameInputBox,
.passwordInputBox {
    float: left;
    width: 100%;
    position: relative;
}

.rememberWrap {
    float: left;
    margin: 15px 0;
    padding: 0;
    overflow: hidden;
}

.require {
    color: #ff4f35;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    padding: 10px;
    top: 5px;
    right: 0;
}

.resetPasswordError {
    font-size: 12px;
    color: #ff4f35;
    margin: 10px 0 0 0;
}

label.remember {
    margin: 5px 0 0 0;
    clear: none;
    padding: 0 10px;
    text-transform: none;
    line-height: 20px;
    font-size: 16px;
    color: #28324b;
}

#remember {
    margin: 0px 5px 0 0;
    padding: 0;
    clear: none;
}

.signInButtonWrapper {
    margin: 10px 0 25px 0;
    text-align: center;
}

.problemLoginLostPasswordWrapper {
    margin-top: 120px;
}

.lostPasswordText,
.problemLoginText {
    float: right;
    text-decoration: underline;
}

.lostPasswordWrapper {
    /*margin: 15px 0 2px 0;*/
    float: right;
    /*font-size: 8px;
    display: none;*/
}

.problemLoginWrapper {
    float: right;
    font-size: 8px;
    display: block;
    clear: both;
    display: none;
}

.loginProblemWrap {
    padding: 0;
}

.lostPasswordText,
.selfregister {
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
    background: #0ab9f0;
    width: 45%;
}

@media (min-width: 768px) {
    .lostPasswordText,
    .problemLoginText,
    .selfregister {
        font-size: 16px;
    }
}

.lostPasswordCheckbox,
.problemLoginCheckbox {
    float: right;
}

.greenButton,
.redButton,
.grayButton {
    border: none;
    cursor: pointer;
    color: #fff;
    height: 20px;
    vertical-align: middle;
    padding: 0 10px;
}

.greenButton {
    background-color: transparent;
}

.redButton {
    background-color: #ff4f35;
    margin-right: 15px;
}

.submitButton {
    font-size: 41px;
    padding: 0 16px;
    height: auto;
    text-align: center;
    line-height: 51px;
}

button:focus{
    outline:none;
}

.grayButton {
    background-color: #ccc;
}

.experienceBtns {
    float: right;
}

#loginBox div.wrapper {
    overflow: hidden;
}

#loginBox div.wrapper-message {
    overflow: hidden;
    background-color: #e1e1e1;
    padding: 25px 40px;
    max-width: 515px;
}

#loginBox div.wrapper-message h4 {
    color: #28324b;
    font-size: 16px;
    margin-top: 10px;
}

#loginBox div.wrapper-message a,
#loginBox div.wrapper-message p {
    color: #28324b;
    font-size: 14px;
    line-height: 22px;
}

#loginBox footer {
    clear: both;
    float: left;
    padding: 30px;
    background-color: #fff;
}

#logo {
    background: url("../../../WizletResources/Shared/media/img/btsBrand.png") center;
    background-size: 100%;
    height: 22px;
    width: 63px;
    background-repeat: no-repeat;
    float: right;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    line-height: 1.4em;
    border: 0px;
    width: calc(100% - 0px);
    padding: 10px 5px;
    color: #28324b;
    font-size: 0.875rem;
}

#passReset {
    float: left;
    margin-top: 17px;
}

.errorMessage {
    color: #f00;
    font-size: 13px;
    margin-top:10px;
}

#reset input[type="text"] {
    margin-bottom: 0px;
}

#logout input {
    margin-left: 70px;
}

#revisionInfo {
    color: #808080;
    padding: 0;
}

.loginEventsTable .contentTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.loginEventsTable .contentTable select {
    width: 100%;
    padding: 5px 3px;
    font-size: 16px;
    font-weight: 400;
}

.resetPassBtn {
    float: right;
    font-size: 16px;
    padding: 10px;
    height: auto;
    float: right;
    text-align: center;
}

.resetPasswordText {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5em;
    color: #808080;
    margin-bottom: 30px;
}

.sel_exp_title {
    font-family: OpenSans-Regular;
}

.roundedOne {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 4px;
    border: 0;
    background-color: #fff;
}

.roundedOne input[type=checkbox] {
    visibility: hidden;
}

.roundedOne label:after {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #00adef;
    opacity: 0;
    border-radius: 3px;
}

.roundedOne label:hover::after {
    opacity: 0.3;
}

.roundedOne input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.greySelectbox select {
    background-color: #4c4c4c;
    color: #fff;
    border: none;
}

.greySelectbox .arrow {
    background: url("../../../WizletResources/Shared/media/img/selectboxArrow.png") top center no-repeat;
}

.rememberWrap .roundedOne {
    float: left;
}

.remember {
    padding: 5px 0;
    display: inline-block;
}


/* login new classes */


/* this is temporary*/

.login__title {
    text-align: left;
    margin: 0 0 5px 0;
    font-weight: 600;
    color: #808080;
}

.login__text {
    text-align: left;
    margin: 0 0 1em 0;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #808080;
}

.login__text a {
    color: #00adef;
}

.login__message {
    font-size: 16px;
    color: #ecba01;
    padding: 10px 0;
}

.login__weak--hide {
    display: none;
}

.col-no--left {
    padding-left: 0 !important;
}

.register-link {
    text-align: center;
    margin: 15px 0;
    float: left;
}

.register-link a {
    font-size: 14px;
    user-select: none;
}

.register-link a b {
    cursor: pointer;
}

.register-link a b:hover {
    text-decoration: underline;
}

.privacy-policy {
    float: left;
}

.privacy-policy a {
    font-size: 11px !important;
}

.login-link {
    text-decoration: underline;
    cursor: pointer;
}

#backToLogin p {
    color: #28324b;
    font-size: 14px;
    margin-bottom: 25px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .cancelButtonWrapper.col-no--left {
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .resetButtonWrapper.col-no--right {
        padding-left: 0 !important;
    }
}

.col-no--right {
    padding-right: 0 !important;
}

.col-no--padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.col-no--margin {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

@media screen and (width: 767px) {
    .userNameIcon,
    .passwordIcon {
        width: 64px;
        height: 64px;
    }
    .userNameInputBox,
    .passwordInputBox {
        width: calc(100% - 64px);
    }
    input[type="text"],
    input[type="password"] {
        font-size: 24px;
        padding: 15px;
    }
    #loginBox p.notice {
        font-size: 24px;
    }
    .submitButton {
        font-size: 24px;
    }
}

@media screen and (max-width: 320px) {
    .userNameIcon,
    .passwordIcon {
        width: 37px;
        height: 37px;
    }
    .userNameInputBox,
    .passwordInputBox {
        width: calc(100% - 37px);
    }
    input[type="text"],
    input[type="password"] {
        font-size: 12px;
        padding: 10px;
    }
    #loginBox p.notice {
        font-size: 14px;
    }
    .submitButton {
        font-size: 14px;
    }
}

.noteWrapper {
    color: #000;
    background-color: #ededed;
    padding: 5px 20px;
    font-size: 11px;
}

.noteWrapper a {
    color: initial;
}

/***********************************/
#loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    padding: 2.5rem 1rem 2.5rem 2.5rem;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(15, 12, 12, 0.588235294117647);
    border: 1px solid rgba(121, 121, 121, 1);
}

@media screen and (max-width: 415px) {
    #loginBox {
        width: 85%;
        padding: 1.5rem 1rem 1.5rem 1.5rem;
    }
    .loginButtonWrapper{
        top:47% !important;
    }
}

@media screen and (max-height: 415px) {
    #loginBox {
        width: 80%;
        padding: 1.5rem 1rem 1.5rem 1.5rem;
    }
}

.loginButtonWrapper {
    position: absolute;
    height: 3.75rem;
    width: 3.75rem;
    background-color: #503cc8;
    border: 5px solid white;
    border-radius: 50%;
    top: 50%;
    right: -6%;
}

.loginButtonWrapper:hover{
    background-color: #6758c5;
}

.btn-cls{
    height: 100%;
    width: 100%;
    background: transparent;
    border: 0;
    color: white;
    text-align: center;
    font-size: 3.125rem;
    line-height: 3.125rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-title-container {
    padding: 0 0 2.5rem;
    border-bottom: 3px solid white;
    position: relative;
}

.userNameWrapper,
.passwordWrapper{
    float: left;
    margin-right: 15px;
    width: calc(100% - 60%);
}

@media screen and (max-width: 415px) {
    .userNameWrapper, .passwordWrapper {
        width: calc(100% - 10%) !important;
    }
}

.logo {
    margin-bottom: 20px;
}

.logo img{
    height: 59px;
}

.solution-name {
    font-family: 'Arial Bold', 'Arial Regular', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 34px;
    color: #FFFFFF;
}

body {
    background: url("background_login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loginFields {
    padding: 15px 0 0 0;
}

.userNamelabel,
.passwordlabel {
    padding-bottom: 10px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    .loginBox{
        width:70% !important;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .loginBox{
        width:80% !important;
    }
}