<div class="loader-wrapper white-text-color">
    <div class="loader"></div>
    <div class="progress-value" i18n="Progress percentage">{{progressPercentage}} %</div>
    <div class="progress-messages">{{progressMessage}}</div>
</div>