
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.loader
    display block
    position relative
    color #FFF
    left 50%
    top 50%
    width 150px
    height 150px
    margin -75px 0 0 -75px
    border 3px solid transparent
    border-top-color rgba(10, 185, 240, 1)
    border-radius 50%
    z-index 10
    -webkit-animation spin 2s linear infinite
    animation spin 2s linear infinite
    &-wrapper
        position fixed
        top 0
        left 0
        width 100vw
        height 100vh
        z-index 5
        background-size cover
        background-position bottom center
        @media screen and (max-width 1024px)
            background-size cover
    &:before, &:after
        content ""
        position absolute
        border 3px solid transparent
        border-top-color #80CC28
        border-radius 50%
    &:before
        top 5px
        left 5px
        right 5px
        bottom 5px
        -webkit-animation spin 3s linear infinite
        animation spin 3s linear infinite
    &:after
        top 15px
        left 15px
        right 15px
        bottom 15px
        border-top-color #A8ADB4
        -webkit-animation spin 1.5s linear infinite
        animation spin 1.5s linear infinite

.progress-value
    display block
    position absolute
    left 50%
    top 50%
    transform: translate(-50%, -50%);
    width 100%
    height 50px
    z-index 15
    background transparent
    border none
    text-align center
    line-height 50px
    color #FFF
.progress-messages
    position absolute
    left 50%
    top 60%
    -webkit-transform translate(-50%, 0)
    transform translate(-50%, 0)
    color #FFF