/* You can add global styles to this file, and also import other style files */
@import 'styles/nouislider.styl'
// @import 'styles/charts.styl'

/**************************************************/
html, body
    height 100%
    margin 0 !important
    padding 0 !important

html 
    font-size 100%
    
body
    background-image url('./assets/images/background_login.jpg')
    background-repeat no-repeat
    background-size cover
    font-family 'Arial' !important
    font-size 1rem
    line-height 1rem

.pad-0
    padding 0

.marg-0
    margin 0

.wrapper,.main-page
    height 100%      


::-webkit-scrollbar
    width 6px
    background-color #F5F5F5

::-webkit-scrollbar-thumb
    background-color grey

::-webkit-scrollbar-track
    -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
    background-color #F5F5F5      

.tooltip-inner
    font-size 0.875rem
    background rgba(255,255,255,0.6)
    color #000

.tooltip-arrow:before
    border-bottom-color rgba(255,255,255,0.6) !important

input::-ms-reveal 
  display none


/********Stepper************************/
.stepper
    background-color #f2f2f2
    border-radius 25px
    &-button
        color #FFFFFF 
        margin 0 
    .field-value
        border none 
        background-color #f2f2f2 
        padding 0 

ism-feature
    isma-calc-stepper
        .stepper
            &-button
                background-color rgba(215, 58, 1, 1) 
                border 2px solid rgba(215, 58, 1, 1) 
                
ism-marketing
    isma-calc-stepper
        .stepper
            &-button
                background-color rgba(128, 186, 1, 1) 
                border 2px solid rgba(128, 186, 1, 1) 
                
ism-sales
    isma-calc-stepper
        .stepper
            &-button
                background-color rgba(2, 164, 239, 1) 
                border 2px solid rgba(2, 164, 239, 1) 
                
ism-migration
    isma-calc-stepper
        .stepper
            &-button
                background-color rgba(255, 185, 2, 1) 
                border 2px solid rgba(255, 185, 2, 1) 


.chart-container-1
    .highcharts-color-0
        fill darken(#95f104 , 20%)
        stroke darken(#95f104 , 20%)
    .highcharts-color-1
        fill darken(#7cd1f7 , 20%)
        stroke darken(#7cd1f7 , 20%)

.chart-container-2
    .highcharts-color-0
        fill darken(#0000e0  , 20%)
        stroke darken(#0000e0  , 20%)
        
.chart-data
    ism-chart
        height 100%
        .chart-elem
            height 100%
            .highcharts-root
                height 100%
                width 100%
.chart-note    
    font-size 0.875rem
    text-align center
    font-style italic

@media only screen and (min-width  992px)
    .desktop-view
        display block
    .dedesktop-component-view
        display flex
    .mobile-view
        display none !important
    .router-container
        height 100%
        position relative
        overflow hidden
    .page
        &-wrapper
            height 100%
        &-header
            padding 10px
            display flex
            align-items center
            position relative
            height 100%
            &-content
                position absolute
                top 0%
                right 50%
                width 50vw
                z-index 1
                display flex
                justify-content flex-end
                align-items center
                transform rotate(-90deg)
                transform-origin 100% 50%
            &-text
                color #ffffff
                display flex
                flex-direction column
                justify-content center
                padding 0 20px
                align-items flex-end      
                font-weight 700
                .scenario-label
                    font-size 1.625rem
                    line-height 1.625rem
                .scenario-number
                    margin-bottom 5px
            &-icon
                transform rotate(90deg)
                height 4vw
                img
                    height 100%
        &-content
            padding 20px
            height 100%
            overflow auto
            &-webkit-scrollbar
                width 5px
                &-track
                    -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.4)
                    border-radius 5px
                &-thumb
                    background-color grey
                    border-radius 5px
            .decisions-wrapper
                .decision-container
                    height 100%
                    padding-bottom 20px
                    .data-container
                        background white
                        height 100%
                        .header-row
                            background-color rgba(242, 242, 242, 1)
                            padding 0 10px
                            color #555555
                            .header-label
                                font-weight 700
                                padding 15px 5px
                                text-align center
                        .data-content
                            padding 10px
                            .data-row
                                margin-bottom 5px
                                color #555555  
                                .data-label
                                    padding 10px 5px
                                .data-value
                                    padding 10px 5px
                                    text-align center
                                .data-stepper
                                    padding 0 5px
                                    display flex 
                                    align-items center

            .report-wrapper
                height 50%
                .bar-chart
                    padding-right 10px
                .col-chart
                    padding-left 10px
                .report-container
                    height 100%
                    .report-row
                        height 100%
                        .chart-container
                            background white
                            padding 15px
                            height 100%
                            .chart-title
                                font-size 1.25rem
                                line-height 1.25rem
                            .change-value
                                display flex
                                align-items center
                                justify-content flex-end
                                font-size 1.25rem
                            
                        .chart-container-1  
                            .chart-data
                                height calc(100% - 1.25rem)          
                            .highcharts-data-label
                                font-size 1.125rem
                            .highcharts-legend-item 
                                text
                                    font-size 1.1875rem
                            .highcharts-tooltip
                                font-size 1rem

                        .chart-container-2     
                            display flex
                            flex-direction column 
                            .chart-data
                                flex 1
                            .highcharts-data-label
                                font-size 0.875rem
                            .highcharts-axis-labels
                                font-size 1rem
                                font-weight 700
                            .highcharts-tooltip
                                font-size 0.875rem
                                
@media only screen and (min-device-width  768px) and (max-device-width  1024px) and (orientation  landscape)
    .desktop-view
        display block
    .mobile-view
        display none !important
    
    html 
        font-size 14px
    
    .dashboard-wrapper
        flex 0 0 98%
        max-width 98%

    .page-content
        padding 10px
        .decision-container
            padding-bottom 10px !important
        .report-wrapper 
            .bar-chart
                padding-right 5px
            .col-chart
                padding-left 5px

    .dashboard-tab-container 
        .logo-score-container
            height 55% !important
        .dashboard-tab-links-cont 
            height 45% !important
            .dasboard-tab-row 
                .dashboard-tab-link 
                    .tab-container
                        padding 10px 5px !important   
                    .active 
                        .dashboard-tab-link-text    
                            font-size 1.0625rem !important   
                            line-height 1.0625rem !important     

    .chart-container-2      
        .highcharts-data-label
            font-size 1.25rem !important
        .highcharts-axis-labels
            font-size 1.4375rem !important
        .highcharts-tooltip
            font-size 1.3125rem !important

@media only screen and (min-device-width  768px) and (max-device-width  1024px) and (orientation  portrait)   
    .desktop-view
        display none
    .mobile-view
        display block
    .desktop-component-view
        display none

    isma-calc-stepper
        width 65% !important

    .page-container
        position relative
        .arrow
            position absolute
            height 16%
            width 2.6875rem
            text-align center
            font-size 2rem
            line-height 3.5rem
            z-index 1
            &.disableFlag                
                display none
            .fa
                display none !important
        .backward-arrow
            top 37%
            left -3%
            border-bottom-right-radius 6.25rem
            border-top-right-radius 6.25rem
            padding-right 0.375rem
            background-image url('./assets/icons/left.svg')
            background-size contain
            background-repeat no-repeat
        .forward-arrow
            top 37%
            right -3%
            border-bottom-left-radius 6.25rem
            border-top-left-radius 6.25rem
            padding-left 0.375rem
            background-image url('./assets/icons/right.svg')
            background-size contain
            background-repeat no-repeat
        .router-container
            height 100%
            .page-wrapper 
                height 100%
                .page-header
                    display flex
                    padding 0.625rem
                    height 10%
                    .page-header-icon
                        display flex
                        img 
                            width 100%
                    .page-header-text
                        color white
                        display flex
                        flex-direction column
                        justify-content center
                        margin-left 1.25rem
                        .scenario-label
                            font-size 1.5rem
                            line-height 1.5rem
                            font-weight 700
                            margin-top 0.3125rem
                .page-content
                    height 90%
                    overflow-y auto
                    .decisions-wrapper
                        .decision-container
                            .data-container
                                padding 0.9375rem 0.9375rem 0                            
                                .data
                                    &-content
                                        background-color #FFFFFF
                                        margin-bottom 0.9375rem
                                        .header-row
                                            background-color rgba(242, 242, 242, 1)
                                            padding 0.5rem
                                            color #555555
                                            .header-label
                                                font-weight 700
                                                padding 0.375rem 
                                                text-align center                                            
                                        &:last-child
                                            margin-bottom 0
                                        .data-row
                                            padding 0.375rem
                                            &:first-child
                                                padding-bottom 0
                                            .data-label
                                                padding 0.625rem
                                            .data-value
                                                padding 0.625rem
                                                text-align center  
                                                .stepper
                                                    &-button
                                                        font-size 1.25rem !important
                                                        line-height 1.75rem !important
                                                        height 1.875rem !important
                                                        width 1.875rem !important
                                                    .field-value        
                                                        font-size 1.125rem !important
                                                        line-height 1.125rem !important
                    .report
                        &-wrapper
                            height 100%
                        &-container
                            height 100%
                            padding 0.9375rem
                        &-row
                            height 400px
                            background-color #FFFFFF
                            float none
                            margin-bottom 0.9375rem
                            padding 0.625rem
                            font-size 1.5rem
                            line-height 1.5rem
                            .chart-title-holder
                                padding 0.625rem
                                .change-value
                                    text-align right

    .pad-bottom-0
        padding-bottom 0 !important

    .chart-container-2   
        .chart-data 
            height 80%         
        .highcharts-data-label
            font-size 0.825rem
        .highcharts-axis-labels
            font-size 0.925rem
        .highcharts-tooltip
            font-size 0.825rem

    .chart-container-1
        .chart-data
            height calc(100% - 2.5rem)
        .highcharts-data-label
            font-size 0.938rem
        .highcharts-legend-item 
            text
                font-size 1rem
        .highcharts-tooltip
            font-size 1rem    

@media only screen and (min-device-width: 320px) and (max-device-width: 736px)
    .desktop-view
        display none
    .mobile-view
        display block
    .desktop-component-view
        display none
        
    .page-container
        height 100%
        position relative
        .arrow
            position absolute
            height: 30%;
            width: 8%;
            text-align center
            font-size 2rem
            line-height 3.5rem
            z-index 1
            &.disableFlag                
                display none
            .fa
                display none !important
        .backward-arrow
            top 35%
            left -10px //border 3px + padding 10px
            background-image url('./assets/icons/left.svg')
            background-size contain
            background-repeat no-repeat
            background-position left
        .forward-arrow
            top 35%
            right -10px //border 3px + padding 10px
            background-image url('./assets/icons/right.svg')
            background-size contain
            background-repeat no-repeat
            background-position right
        .router-container
            height 100%
            width 100%
            .page-wrapper 
                height 100%
                overflow hidden
                .page-content
                    height 100%
                    overflow auto
                .page-header
                    display flex
                    padding 0.625rem
                    height 10%
                    .page-header-icon
                        display flex
                        img 
                            width 120%
                    .page-header-text
                        color white
                        display flex
                        flex-direction column
                        justify-content center
                        margin-left 1.125rem
                        .scenario-label
                            font-size 1.1875rem
                            line-height 1.1875rem
                            margin-top 0.1875rem
                        .scenario-number
                            font-size 0.75rem
                            line-height 0.75rem
                .page-content
                    font-size 0.875rem
                    line-height 0.875rem
                    height 90%
                    overflow-y auto
                    .decisions-wrapper
                        .decision-container
                            .data-container
                                padding 0.75rem 0.75rem 0                            
                                .data
                                    &-content
                                        background-color #FFFFFF
                                        margin-bottom 0.5rem
                                        .header-row
                                            background-color rgba(242, 242, 242, 1)
                                            padding 0.5rem
                                            color #555555
                                            .header-label
                                                font-weight 700
                                                padding 0.375rem 
                                                text-align center                                            
                                        &:last-child
                                            margin-bottom 0
                                        .data-row
                                            padding 0.375rem
                                            &:nth-child(2)
                                                padding-bottom 0
                                                .data-label
                                                    padding 0.875rem 0.375rem
                                            &:last-child
                                                padding-bottom 0.75rem
                                            .data-label
                                                padding 0.375rem
                                            .data-value
                                                padding 0.375rem
                                                text-align center  
                                                .stepper
                                                    &-button
                                                        font-size 0.875rem !important
                                                        line-height 0.8125rem !important
                                                        height 1.25rem !important
                                                        width 1.25rem !important
                                                    .field-value        
                                                        font-size 0.875rem !important     
                                                        line-height 0.875rem !important
                    .report
                        &-container
                            padding 0.625rem
                        &-row
                            height 300px
                            background-color #FFFFFF
                            float none
                            margin-bottom 0.9375rem
                            padding 0.625rem
                            font-size 1.3125rem
                            line-height 1.3125rem
                            .chart-title-holder
                                padding 0.625rem
                                .change-value
                                    text-align right

    ism-migration,
    ism-marketing
        .data-content
            &:nth-child(5)
                .data-row
                    &:nth-child(2)
                        .data-label
                            padding-bottom 0.375rem !important
                    &:nth-child(3)
                        padding-bottom 0 !important
                        .data-label
                            padding 0.875rem 0.375rem !important

    ism-feature,
    ism-sales
        .data-content
            &:nth-child(3)
                .data-row
                    &:nth-child(2)
                        .data-label
                            padding-bottom 0.375rem !important
                    &:nth-child(3)
                        padding-bottom 0 !important
                        .data-label
                            padding 0.875rem 0.375rem !important
                            
    .chart-container-2    
        display flex
        flex-direction column
        .chart-data
            flex 1        
        .highcharts-data-label
            font-size 0.938rem
        .highcharts-axis-labels
            font-size 1rem
        .highcharts-tooltip
            font-size 1rem

    .chart-container-1
        .chart-data
            height calc(100% - 2rem)     
        .highcharts-data-label
            font-size 1rem
        .highcharts-legend-item 
            text
                font-size 1.1rem
        .highcharts-tooltip
            font-size 1rem   
  

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation  landscape) 
    .dashboard-container 
        .dashboard-wrapper 
            .menu-logo-contianer
                height 30% !important
            .dashboard-content
                height 70% !important
        .page-wrapper
            .page-header
                padding 5px 10px !important
                height 20% !important
            .page-content
                height 80% !important

    .chart-container-2   
        .chart-data 
            height 80%         
        .highcharts-data-label
            font-size 0.925rem
        .highcharts-axis-labels
            font-size 1rem
        .highcharts-tooltip
            font-size 0.925rem