<div class="row metric-chart-main-container" style="justify-content:space-around;flex-wrap: no-wrap;" *ngIf="chartData">
  <ng-template ngFor let-sgChart [ngForOf]="chartData" let-i="index">
    <div class="col-3 col-lg-3 col-sm-3 col-md-3 metric-chart" *ngIf="sgChart.yAxis; else text">

      <div [ngClass]="{'range-number-positive' : (showBalloon === sgChart.showBalloon && sgChart.flag === 'positive'), 'range-number-negative' : (showBalloon === sgChart.showBalloon && sgChart.flag === 'negative') }"
        class="range-number"><span [style.display]="sgChart.flag === 'positive' ? 'block' : 'none'"> +</span><span
          [style.display]="sgChart.flag === 'negative' ? 'block' : 'none'"> -</span> {{sgChart.newValue}}</div>

      <ism-chart-component [chartData]="sgChart"></ism-chart-component>
    </div>
    <ng-template #text>
      <div class="col-3 col-lg-3 col-sm-3 col-md-3 chart-text metric-chart">

        <div [ngClass]="{'range-number-positive' : (showBalloon === sgChart.showBalloon && sgChart.flag === 'positive'), 'range-number-negative' : (showBalloon === sgChart.showBalloon && sgChart.flag === 'negative') }"
          class="range-number"><span [style.display]="sgChart.flag === 'positive' ? 'block' : 'none'"> +</span><span
            [style.display]="sgChart.flag === 'negative' ? 'block' : 'none'"> -</span> {{sgChart.newValue}}</div>
        <ism-calc-output ref="{{sgChart.rangeRef[0][0]}}" format="{{sgChart.format}}" scaler="{{sgChart.scaler}}"></ism-calc-output>
        <div class="title">
          <ism-text-output key="{{sgChart.title}}"></ism-text-output>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>