@import '../../../styles/colors.styl';

.metric-chart-main-container
    justify-content space-around
    flex-wrap no-wrap
    .metric-chart
        padding 0 5px
        display: flex;
        justify-content: center;
        flex-direction: column
        align-items: center
        position relative
        .range-number
            position: absolute;
            -ms-transform: translateY(-4%);
            transform: translateY(-4%);
            // left: 13%;
            z-index: 1
            width: 40px;
            height: 40px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-weight: bold;
            font-size: 1rem;
            opacity 0
              
        .range-number-positive 
            background: rgba(0, 255, 0, 0.8);
            -webkit-animation disappear 2s normal forwards ease-in-out
            animation disappear 2s normal forwards ease-in-out
        .range-number-negative
            background: rgba(255, 0, 0, 0.8);
            -webkit-animation disappear 2s normal forwards ease-in-out
            animation disappear 2s normal forwards ease-in-out
    .chart-text 
        font-size: 40px;
        font-weight: 700;
        color: $primaryColor
        .title
            font-size: 19px;
            font-weight: 100;
            padding-top: 10px;
            text-align: center;
            color: $neutral3
            font-family sans-serif;
            // letter-spacing: 0.1em;

@-webkit-keyframes disappear
    0%   {opacity: 0;}
    25%  {opacity: 0.5;}
    50%  {opacity: 1;}
    75%  {opacity: 0.5;}
    100% {opacity: 0;}         

@keyframes disappear
    0%   {opacity: 0;}
    25%  {opacity: 0.5;}
    50%  {opacity: 1;}
    75%  {opacity: 0.5;}
    100% {opacity: 0;}    