<div class="page-wrapper col-12 pad-0 row marg-0 desktop-component-view">
    <div class="page-header pad-0 col-1">
        <div class="page-header-content">
            <div class="page-header-text">
                <div class="scenario-number">
                    <ism-text-output key="Scenario3"></ism-text-output>
                </div>
                <div class="scenario-label">
                    <ism-text-output key="Tab3Text"></ism-text-output>
                </div>
            </div>
            <div class="page-header-icon">
                <img src="./../../assets/icons/sales.svg">
            </div>
        </div>
    </div>
    <div class="page-content pad-0 col-11 row marg-0">
        <div class="decisions-wrapper col-12 pad-0">
            <div class="decision-container col-12 pad-0">
                <div class="data-container col-12 pad-0">
                    <div class="header-row col-12 pad-0 row marg-0">
                        <div class="data-label header-label cust-header-col">
                        </div>
                        <div class="data-label header-label cust-col">
                            <ism-calc-output ref="tlOutput_E4_tlScen3"></ism-calc-output>
                        </div>
                        <div class="data-label header-label cust-col">
                            <ism-calc-output ref="tlOutput_G4_tlScen3"></ism-calc-output>
                        </div>
                        <div class="data-label header-label cust-col">
                            <ism-calc-output ref="tlOutput_I4_tlScen3"></ism-calc-output>
                        </div>
                        <div class="data-label header-label cust-col">
                            <ism-calc-output ref="tlOutput_K4_tlScen3"></ism-calc-output>
                        </div>
                        <div class="data-label header-label cust-col">
                            <ism-calc-output ref="tlOutput_M4_tlScen3"></ism-calc-output>
                        </div>
                    </div>
                    <div class="data-content col-12">
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label cust-header-col">
                                <ism-calc-output ref="tlOutput_C7_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-stepper cust-col">
                                <isma-calc-stepper outputRangeRef="tlOutput_E7_tlScen3" ref="tlInputARPUScen3"
                                    step="100000" format="$0,0.00" outputScaler=1000000 outputFormat="$0,0.00"
                                    min="-5000000" outputMin="-5000000" max="5000000" outputMax="5000000">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_G7_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_I7_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_K7_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_M7_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label cust-header-col">
                                <ism-calc-output ref="tlOutput_C8_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-stepper cust-col">
                                <isma-calc-stepper outputRangeRef="tlOutput_E8_tlScen3" ref="tlInputCTSpUScen3"
                                    step="100000" format="$0,0.00" outputScaler=1000000 outputFormat="$0,0.00"
                                    min="-3000000" outputMin="-3000000" max="3000000" outputMax="3000000">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_G8_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_I8_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_K8_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_M8_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label cust-header-col">
                                <ism-calc-output ref="tlOutput_C9_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value cust-col">
                            </div>
                            <div class="data-stepper cust-col">
                                <isma-calc-stepper outputRangeRef="tlOutput_G9_tlScen3" ref="tlInputChurnScen3" step="1"
                                    scaler="100" format="0%" min="-60" outputMin="-60" max="60" outputMax="60"
                                    outputFormat="0%"></isma-calc-stepper>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_I9_tlScen3" format="0%"></ism-calc-output>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_K9_tlScen3" format="0%"></ism-calc-output>
                            </div>
                            <div class="data-value cust-col">
                                <ism-calc-output ref="tlOutput_M9_tlScen3" format="0%"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label cust-header-col">
                                <ism-calc-output ref="tlOutput_C10_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-stepper cust-col">
                                <isma-calc-stepper outputRangeRef="tlOutput_E10_tlScen3" ref="tlInputCACpUScen3"
                                    step="100000" format="$0,0.00" outputScaler=1000000 outputFormat="$0,0.00"
                                    min="-150000" outputMin="-150000" max="1000000" outputMax="1000000">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value cust-col">
                            </div>
                            <div class="data-value cust-col">
                            </div>
                            <div class="data-value cust-col">
                            </div>
                            <div class="data-value cust-col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="report-wrapper pad-0 col-12">
            <div class="report-container col-12 pad-0 row marg-0">
                <div class="report-row col-6 pad-0 bar-chart">
                    <div class="chart-container col-12 chart-container-1">
                        <div class="chart-title-holder col-12 pad-0 row marg-0">
                            <div class="chart-title col-7 pad-0">
                                <ism-calc-output ref="tlOutput_B27_tlCharts"></ism-calc-output>
                            </div>
                            <div class="change-value col-5 pad-0">
                                <ism-calc-output ref="tlOutput_E27_tlCharts"></ism-calc-output>
                            </div>
                        </div>
                        <div class="chart-data pad-0 col-12">
                            <ism-chart class="col-12 pad-0" *ngIf="showChart"
                                [rangeRef]="[['tlOutput_C27_tlCharts'], ['tlOutput_D27_tlCharts']]"
                                [seriesOptions]="[{type: 'bar', 'name': 'tlOutput_C8_tlCharts'}, {type: 'bar', 'name': 'tlOutput_D8_tlCharts'}]"
                                [xAxis]="{visible: false, categories: ['tlOutput_C26_tlCharts', 'tlOutput_D26_tlCharts', 'tlOutput_E26_tlCharts']}"
                                [yAxis]="{ title: { text: ''} , labels: { enabled: false }}"
                                [chartOptions]="chartOptions1">
                            </ism-chart>
                        </div>
                    </div>
                </div>
                <div class="report-row col-chart col-6 pad-0">
                    <div class="chart-container col-12 chart-container-2">
                        <div class="chart-title chart-title-holder">
                            <ism-calc-output ref="tlOutput_B24_tlCharts"></ism-calc-output>
                        </div>
                        <div class="chart-data">
                            <ism-chart *ngIf="showChart"
                                [rangeRef]="[['tlOutput_C24_tlCharts', 'tlOutput_D24_tlCharts', 'tlOutput_E24_tlCharts', 'tlOutput_F24_tlCharts', 'tlOutput_G24_tlCharts']]"
                                [seriesOptions]="[{'type': 'column', name: '', showInLegend: false}]"
                                [xAxis]="{categories: ['tlOutput_C23_tlCharts', 'tlOutput_D23_tlCharts', 'tlOutput_E23_tlCharts', 'tlOutput_F23_tlCharts', 'tlOutput_G23_tlCharts'], tickWidth: 0}"
                                [yAxis]="{title: '', labels: { enabled: false, format: '{value:$0,0.00a}'}}"
                                [chartOptions]='chartOptions2'>
                            </ism-chart>
                        </div>
                        <div class="chart-note">
                            <ism-calc-output ref="nmDisclaimerDiscRate"></ism-calc-output>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper col-12 pad-0 mobile-view">
    <div class="page-header col-12 pad-0">
        <div class="page-header-icon col-1 pad-0">
            <img src="./../../assets/icons/sales.svg">
        </div>
        <div class="page-header-text">
            <div class="scenario-number">
                <ism-text-output key="Scenario3"></ism-text-output>
            </div>
            <div class="scenario-label">
                <ism-text-output key="Tab3Text"></ism-text-output>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="decisions-wrapper">
            <div class="decision-container">
                <div class="data-container">
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C7_tlScen3"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E7_tlScen3" ref="tlInputARPUScen3"
                                    step="100000" format="$0,0.00" outputScaler=1000000 outputFormat="$0,0.00"
                                    min="-5000000" outputMin="-5000000" max="5000000" outputMax="5000000" rawValue=true>
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_G7_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I7_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K7_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_M4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_M7_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C8_tlScen3"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E8_tlScen3" ref="tlInputCTSpUScen3"
                                    step="100000" format="$0,0.00" outputScaler=1000000 outputFormat="$0,0.00"
                                    min="-3000000" outputMin="-3000000" max="3000000" outputMax="3000000" rawValue=true>
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_G8_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I8_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K8_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_M4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_M8_tlScen3" format="$0.00" scaler="1000000"
                                    rawValue=true></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C9_tlScen3"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_G9_tlScen3" ref="tlInputChurnScen3" step="1"
                                    scaler="100" format="0%" min="-60" outputMin="-60" max="60" outputMax="60"
                                    outputFormat="0%"></isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I9_tlScen3" format="0.00%"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K9_tlScen3" format="0.00%"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_M4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_M9_tlScen3" format="0.00%"></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C10_tlScen3"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E10_tlScen3" ref="tlInputCACpUScen3"
                                    step="100000" format="$0,0.00" outputScaler=1000000 outputFormat="$0,0.00"
                                    min="-150000" outputMin="-150000" max="1000000" outputMax="1000000" rawValue=true>
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_M4_tlScen3"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="report-wrapper">
            <div class="report-container">
                <div class="report-row chart-container chart-container-1 bar-chart">
                    <div class="chart-title-holder col-12 pad-0 row marg-0">
                        <div class="chart-title col-7 pad-0">
                            <ism-calc-output ref="tlOutput_B27_tlCharts"></ism-calc-output>
                        </div>
                        <div class="change-value col-5 pad-0">
                            <ism-calc-output ref="tlOutput_E27_tlCharts"></ism-calc-output>
                        </div>
                    </div>
                    <div class="chart-data">
                        <ism-chart *ngIf="showChart" [rangeRef]="[['tlOutput_C27_tlCharts'], ['tlOutput_D27_tlCharts']]"
                            [seriesOptions]="[{type: 'bar', 'name': 'tlOutput_C8_tlCharts'}, {type: 'bar', 'name': 'tlOutput_D8_tlCharts'}]"
                            [xAxis]="{visible: false, categories: ['tlOutput_C26_tlCharts', 'tlOutput_D26_tlCharts', 'tlOutput_E26_tlCharts']}"
                            [yAxis]="{ title: { text: ''} , labels: { enabled: false }}" [chartOptions]="chartOptions1">
                        </ism-chart>
                    </div>
                </div>
                <div class="report-row chart-container chart-container-2 col-chart">
                    <div class="chart-title-holder">
                        <div class="chart-title">
                            <ism-calc-output ref="tlOutput_B24_tlCharts"></ism-calc-output>
                        </div>
                    </div>
                    <div class="chart-data">
                        <ism-chart *ngIf="showChart"
                            [rangeRef]="[['tlOutput_C24_tlCharts', 'tlOutput_D24_tlCharts', 'tlOutput_E24_tlCharts', 'tlOutput_F24_tlCharts', 'tlOutput_G24_tlCharts']]"
                            [seriesOptions]="[{'type': 'column', name: '', showInLegend: false}]"
                            [xAxis]="{categories: ['tlOutput_C23_tlCharts', 'tlOutput_D23_tlCharts', 'tlOutput_E23_tlCharts', 'tlOutput_F23_tlCharts', 'tlOutput_G23_tlCharts']}"
                            [yAxis]="{title: '', labels: { enabled: false, format: '{value:$0,0.00a}'}}"
                            [chartOptions]='chartOptions2'>
                        </ism-chart>
                    </div>
                    <div class="chart-note">
                        <ism-calc-output ref="nmDisclaimerDiscRate"></ism-calc-output>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>