@import '../../../styles/colors.styl'       
        
.page
    &-header
        background-color rgba(2, 164, 239, 1)
    &-content
        border 3px solid rgba(2, 164, 239, 1)
        .cust-col
            flex: 0 0 14%;
            max-width: 14%;
        .cust-header-col
            flex: 0 0 30%;
            max-width: 30%;
        .report
            &-row
                .chart
                    &-title
                        color rgba(2, 164, 239, 1)
        .nextButtonWrapper
            .next
                &-btn
                    border 2px solid rgba(2, 164, 239, 1)
                &-arrow
                    color rgba(2, 164, 239, 1)
        
