<div class="page-wrapper col-12 pad-0 row marg-0 desktop-component-view">
    <div class="page-header pad-0 col-1">
        <div class="page-header-content">
            <div class="page-header-text">
                <div class="scenario-number">
                    <ism-text-output key="Scenario2"></ism-text-output>
                </div>
                <div class="scenario-label">
                    <ism-text-output key="Tab2Text"></ism-text-output>
                </div>
            </div>
            <div class="page-header-icon">
                <img src="./../../assets/icons/marketing.svg">
            </div>
        </div>
    </div>
    <div class="page-content pad-0 col-11 row marg-0">
        <div class="decisions-wrapper col-12 pad-0">
            <div class="decision-container col-12 pad-0">
                <div class="data-container col-12 pad-0">
                    <div class="header-row col-12 pad-0 row marg-0">
                        <div class="data-label header-label col-4"></div>
                        <div class="data-label header-label col-2">
                            <ism-calc-output ref="tlOutput_E4_tlScen2"></ism-calc-output>
                        </div>
                        <div class="data-label header-label col-2">
                            <ism-calc-output ref="tlOutput_G4_tlScen2"></ism-calc-output>
                        </div>
                        <div class="data-label header-label col-2">
                            <ism-calc-output ref="tlOutput_I4_tlScen2"></ism-calc-output>
                        </div>
                        <div class="data-label header-label col-2">
                            <ism-calc-output ref="tlOutput_K4_tlScen2"></ism-calc-output>
                        </div>
                    </div>
                    <div class="data-content col-12">
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C7_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_E7_tlScen2" ref="tlInputARPUScen2Seg1"
                                    step="0.25" format="$0,0.00" min="-15" outputMin="-15" max="15" outputMax="15"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_G7_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_I7_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_K7_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C8_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_E8_tlScen2" ref="tlInputARPUScen2Seg2"
                                    step="0.25" format="$0,0.00" min="-20" outputMin="-20" max="20" outputMax="20"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_G8_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_I8_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_K8_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C9_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_E9_tlScen2" ref="tlInputARPUScen2Seg3"
                                    step="0.25" format="$0,0.00" min="-10" outputMin="-10" max="10" outputMax="10"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_G9_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_I9_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_K9_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C10_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_E10_tlScen2" ref="tlInputCTSpUScen2"
                                    step="1" format="$0,0.00" min="-20" outputMin="-20" max="20" outputMax="20"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_G10_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_I10_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_K10_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C11_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-2"></div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_G11_tlScen2" ref="tlInputChurnScen2"
                                    step="1" scaler="100" format="0%" min="-50" outputMin="-50" max="50"
                                    outputMax="50" outputFormat="0%">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_I11_tlScen2" format="0%"></ism-calc-output>
                            </div>
                            <div class="data-value col-2">
                                <ism-calc-output ref="tlOutput_K11_tlScen2" format="0%"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 pad-0 row marg-0">
                            <div class="data-label col-4">
                                <ism-calc-output ref="tlOutput_C12_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-stepper col-2">
                                <isma-calc-stepper outputRangeRef="tlOutput_E12_tlScen2" ref="tlInputCACpUScen2"
                                    step="1" format="$0,0.00" min="-5" outputMin="-5" max="100" outputMax="100"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                            <div class="data-value col-2"></div>
                            <div class="data-value col-2"></div>
                            <div class="data-value col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="report-wrapper pad-0 col-12">
            <div class="report-container col-12 pad-0 row marg-0">
                <div class="report-row col-6 pad-0 bar-chart">
                    <div class="chart-container col-12 chart-container-1">
                        <div class="chart-title-holder col-12 row marg-0 pad-0">
                            <div class="chart-title col-7 pad-0">
                                <ism-calc-output ref="tlOutput_B18_tlCharts"></ism-calc-output>
                            </div>
                            <div class="change-value col-5 pad-0">
                                <ism-calc-output ref="tlOutput_E18_tlCharts"></ism-calc-output>
                            </div>
                        </div>
                        <div class="chart-data pad-0 col-12">
                            <ism-chart class="col-12 pad-0" *ngIf="showChart"
                                [rangeRef]="[['tlOutput_C18_tlCharts'], ['tlOutput_D18_tlCharts']]"
                                [seriesOptions]="[{type: 'bar', 'name': 'tlOutput_C8_tlCharts'}, {type: 'bar', 'name': 'tlOutput_D8_tlCharts'}]"
                                [xAxis]="{visible: false, categories: ['tlOutput_C17_tlCharts', 'tlOutput_D17_tlCharts', 'tlOutput_E17_tlCharts']}"
                                [yAxis]="{ title: { text: '' }, labels: { enabled: false }}"
                                [chartOptions]="chartOptions1">
                            </ism-chart>
                        </div>
                    </div>
                </div>
                <div class="report-row col-chart col-6 pad-0">
                    <div class="chart-container col-12 chart-container-2">
                        <div class="chart-title chart-title-holder">
                            <ism-calc-output ref="tlOutput_B15_tlCharts"></ism-calc-output>
                        </div>
                        <div class="chart-data">
                            <ism-chart *ngIf="showChart"
                                [rangeRef]="[['tlOutput_C15_tlCharts', 'tlOutput_D15_tlCharts', 'tlOutput_E15_tlCharts', 'tlOutput_F15_tlCharts']]"
                                [seriesOptions]="[{'type': 'column', name: '', showInLegend: false}]"
                                [xAxis]="{categories: ['tlOutput_C14_tlCharts', 'tlOutput_D14_tlCharts', 'tlOutput_E14_tlCharts', 'tlOutput_F14_tlCharts'], tickWidth: 0}"
                                [yAxis]="{title: '', labels: { enabled: false, format: '{value:$0,0.00a}'}}"
                                [chartOptions]='chartOptions2'>
                            </ism-chart>
                        </div>
                        <div class="chart-note">
                            <ism-calc-output ref="nmDisclaimerDiscRate"></ism-calc-output>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper col-12 pad-0 mobile-view">
    <div class="page-header col-12 pad-0">
        <div class="page-header-icon col-1 pad-0">
            <img src="./../../assets/icons/marketing.svg">
        </div>
        <div class="page-header-text">
            <div class="scenario-number">
                <ism-text-output key="Scenario2"></ism-text-output>
            </div>
            <div class="scenario-label">
                <ism-text-output key="Tab2Text"></ism-text-output>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="decisions-wrapper">
            <div class="decision-container">
                <div class="data-container">
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C7_tlScen2"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E7_tlScen2" ref="tlInputARPUScen2Seg1"
                                    step="0.25" format="$0,0.00" min="-15" outputMin="-15" max="15" outputMax="15"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_G7_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I7_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K7_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C8_tlScen2"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E8_tlScen2" ref="tlInputARPUScen2Seg2"
                                    step="0.25" format="$0,0.00" min="-20" outputMin="-20" max="20" outputMax="20"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_G8_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen2"></ism-calc-output>
                            </div>

                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I8_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K8_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C9_tlScen2"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E9_tlScen2" ref="tlInputARPUScen2Seg3"
                                    step="0.25" format="$0,0.00" min="-10" outputMin="-10" max="10" outputMax="10"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_G9_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I9_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K9_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C10_tlScen2"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E10_tlScen2" ref="tlInputCTSpUScen2"
                                    step="1" format="$0,0.00" min="-20" outputMin="-20" max="20" outputMax="20"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_G10_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I10_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K10_tlScen2" format="$0,0.00"></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C11_tlScen2"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_G11_tlScen2" ref="tlInputChurnScen2"
                                    step="1" scaler="100" format="0%" min="-50" outputMin="-50" max="50" outputMax="50"
                                    outputFormat="0%">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_I11_tlScen2" format="0.00%"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6">
                                <ism-calc-output ref="tlOutput_K11_tlScen2" format="0.00%"></ism-calc-output>
                            </div>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="header-row row marg-0">
                            <div class="data-label header-label">
                                <ism-calc-output ref="tlOutput_C12_tlScen2"></ism-calc-output>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_E4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6 pad-bottom-0">
                                <isma-calc-stepper outputRangeRef="tlOutput_E12_tlScen2" ref="tlInputCACpUScen2"
                                    step="1" format="$0,0.00" min="-5" outputMin="-5" max="100" outputMax="100"
                                    outputFormat="$0,0.00">
                                </isma-calc-stepper>
                            </div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_G4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_I4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                        <div class="data-row col-12 row marg-0">
                            <div class="data-label col-6">
                                <ism-calc-output ref="tlOutput_K4_tlScen2"></ism-calc-output>
                            </div>
                            <div class="data-value col-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="report-wrapper">
            <div class="report-container">
                <div class="report-row chart-container chart-container-1 bar-chart">
                    <div class="chart-title-holder col-12 pad-0 row marg-0">
                        <div class="chart-title col-7 pad-0 ">
                            <ism-calc-output ref="tlOutput_B18_tlCharts"></ism-calc-output>
                        </div>
                        <div class="change-value col-5 pad-0 ">
                            <ism-calc-output ref="tlOutput_E18_tlCharts"></ism-calc-output>
                        </div>
                    </div>
                    <div class="chart-data">
                        <ism-chart *ngIf="showChart" [rangeRef]="[['tlOutput_C18_tlCharts'], ['tlOutput_D18_tlCharts']]"
                            [seriesOptions]="[{type: 'bar', 'name': 'tlOutput_C8_tlCharts'}, {type: 'bar', 'name': 'tlOutput_D8_tlCharts'}]"
                            [xAxis]="{visible: false, categories: ['tlOutput_C17_tlCharts', 'tlOutput_D17_tlCharts', 'tlOutput_E17_tlCharts']}"
                            [yAxis]="{ title: { text: '' }, labels: { enabled: false }}" [chartOptions]="chartOptions1">
                        </ism-chart>
                    </div>
                </div>
                <div class="report-row chart-container chart-container-2 col-chart">
                    <div class="chart-title-holder">
                        <div class="chart-title">
                            <ism-calc-output ref="tlOutput_B15_tlCharts"></ism-calc-output>
                        </div>
                    </div>
                    <div class="chart-data">
                        <ism-chart *ngIf="showChart"
                            [rangeRef]="[['tlOutput_C15_tlCharts', 'tlOutput_D15_tlCharts', 'tlOutput_E15_tlCharts', 'tlOutput_F15_tlCharts']]"
                            [seriesOptions]="[{'type': 'column', name: '', showInLegend: false}]"
                            [xAxis]="{categories: ['tlOutput_C14_tlCharts', 'tlOutput_D14_tlCharts', 'tlOutput_E14_tlCharts', 'tlOutput_F14_tlCharts']}"
                            [yAxis]="{title: '', labels: { enabled: false, format: '{value:$0,0.00a}'}}"
                            [chartOptions]='chartOptions2'>
                        </ism-chart>
                    </div>
                    <div class="chart-note">
                        <ism-calc-output ref="nmDisclaimerDiscRate"></ism-calc-output>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>