@import '../../../styles/colors.styl'       
        
.page
    &-header
        background-color rgba(128, 186, 1, 1)
    &-content
        border 3px solid rgba(128, 186, 1, 1)
        .report
            &-row
                .chart
                    &-title
                        color rgba(128, 186, 1, 1)
        .nextButtonWrapper
            .next
                &-btn
                    border 2px solid rgba(128, 186, 1, 1)
                &-arrow
                    color rgba(128, 186, 1, 1)
        
